@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700);

/*=== Preload images ===*/

body:after {
  content: url("../../images/login-arrow-down-hover.png"),url("../../images/arrow-right-hover.png");
  display: none;
}
/*====================*/

/*=== Reset Styles ===*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
tt, var, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-weight:inherit;
  font-style:inherit;
  font-size:100%;
  font-family:inherit;
  vertical-align:baseline;
}
body {
  line-height:1;
  color:black;
  background:white;
  margin:0;
}
table {
  border-collapse:separate;
  border-spacing:0;
}
caption, th, td {
  text-align:left;
  font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content:"";
}
blockquote, q {
  quotes:"" "";
}
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
  display: block;
}
/*====================*/

/*=== Preloaders ===*/

#preloader
{
  background-color:#efefef;
  bottom:0;
  left:0;
  position:fixed;
  right:0;
  top:0;
  z-index:2147483647;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
}

#preloader img
{
  display:block;
  margin:auto;

}

#status
{
  background-position:center center;
  background-repeat:no-repeat;
  height:auto;
  left:50%;
  top:50%;
  position:absolute;
  width:250px;
  margin:-50px 0 0 -125px
}

#status h2{
  color:#155e89;
  font-size:18px;
  text-align:center;
  margin:10px 0 0 0;
  font-family: 'Lato', sans-serif;
  font-weight:700;
}


.tilt-now{
  display:none;
}

@media screen and (max-height:0px) and (orientation:landscape)
{
  .tilt-now{
    display:block;
    width:100%;
    height:100%;
    position:fixed;
    background:#fff;
    z-index:9999;
    left:0;
    top:0;
  }

  .tilt-now h4{
    width:300px;
    height:190px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-95px 0 0 -150px;
    text-align:center;
    font-family: 'Lato', sans-serif;
    font-size:24px;
    font-weight:500;
    color:#f2664a;
  }

  .tilt-now h4 small{
    font-size:14px;
    color:#155e89;
  }

  .tilt-now h4 img{
    margin:auto;
    height:64px;
  }

}


/*====================*/

/*=== Basic Styles ===*/
html, body {
  height: 100%;
  font-size:100%;
  font-family: 'Lato', sans-serif;
  background-color:#ccc;

}

/*====================*/

/*=== I.E. 8 or below Only ===*/

.ie-old{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  display:block;
  background:#000;
  z-index:9999;
  overflow:hidden;
}
/*====================*/

/*=== Header & Menus ===*/

.header-float{
  width:100%;
  height:150px;
  display:block;
  position:absolute;
  z-index:1049;
}

header{
  display:block;
  position:relative;
  min-height:150px;
  background-color:#fff;
  border-radius: 0px 0px 0px 15px;
  -moz-border-radius: 0px 0px 0px 15px;
  -webkit-border-radius: 0px 0px 0px 15px;
  border-top: 1px solid #fff;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #fff;

  margin:0 0 0 60px;
}

/* Logo */
a.logo{
  width:315ppx;
  height:150px;
  background-image:url(../../images/logo.png);
  background-position:center;
  background-repeat:no-repeat;
  display:block;
  margin:0 auto;
}

@media (min-width:981px) and (max-width:1199px){

  a.logo{
    width:278ppx;
    height:125px;
    background-size:278px 125px;
  }

}


@media(max-width:980px){

  .header-float{
    position:relative;
    min-height:10px;
    hieght:100%;
  }

  header{
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
  }

  a.logo{
    width:222ppx;
    height:100px;
    background-size:222px 100px;
  }

}

/* Top Menu */

.top-menu{
  list-style:none;
  clear:both;
  display:block;
  margin:8px 0;
}

.top-menu li{
  display:block;
  float:left;
  font-family: 'Lato', sans-serif;
  font-size:12px;
  text-align:center;
  text-transform:uppercase;
}

.top-menu li:before {
  content: "/";
}

.top-menu li:first-child:before {
  content: none;
}


.top-menu li a {
  padding:4px;
  color:#000;
  font-weight:600;
  text-decoration:none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.top-menu li a.active {
  color:#cf4914;
}

.top-menu li a:hover{
  color:#cf4914;
  text-decoration:none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.slicknav_menu{
  display:none;
}

@media (min-width:981px) and (max-width:1199px){

  .top-menu li{
    font-size:10px;
    line-height:20px;
  }
}

@media (max-width:980px){

  header{
    margin:0;
  }

  .top-menu{
    display:none;
  }

  .slicknav_menu{
    display:block;
    font-family: 'Josefin Slab', serif;
  }
}

/* Login & Search bar */

a.login{
  margin:4px 0;
  padding:4px;
  display:inline-block;
  background-color:#cf4914;
  border:1px solid #cf4914;
  font-size:12px;
  text-align:center;
  text-transform:uppercase;
  color:#fff;
  font-weight:600;
  text-decoration:none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

a.login:hover{
  color:#cf4914;
  background-color:#fff;

  border:1px solid #cf4914;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

a.visit{
  margin:4px 0;
  padding:4px;
  display:inline-block;
  background-color:#cf4914;
  border:1px solid #cf4914;
  font-size:12px;
  text-align:center;
  text-transform:uppercase;
  color:#fff;
  font-weight:600;
  text-decoration:none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.search{
  display:inline-block;
  width:auto;
  margin:4px 0;
}

.search input[type="text"]{
  width:150px;
  border:1px solid #ccc;
  font-size:12px;
  color:#cf4914;
  padding:6px 4px;
  line-height: normal !important;
}

.search input[type="submit"]{
  font-size:12px;
  background-color:#cf4914;
  padding:6px 4px 6px;
  color:#fff;
  text-transform:uppercase;
  border:1px solid #cf4914;
  margin:0px 0px 0px -4px;
  line-height: normal !important;
}

@media (max-width:980px){
  a.login{
    width:100px;
    display:block;
    margin:0 auto 10px;
    padding:5px;
    background-image:none;
    background-color:#cf4914;
    color:#fff;
    text-align:center;
    border-left:1px solid #cf4914;
    border-right:1px solid #cf4914;
    border-top:none;
    border-bottom:none;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }

  a.login:hover{
    background-image:none;
    background-color:#fff;
    color:#cf4914;
    border-left:1px solid #cf4914;
    border-right:1px solid #cf4914;
    border-top:none;
    border-bottom:none;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }

  a.visit{
    width:100%;
    display:block;
    margin:0 auto 10px;
    padding:10px;
    background-image:none;
    background-color:#cf4914;
    color:#fff;
    text-align:center;
    border-left:1px solid #cf4914;
    border-right:1px solid #cf4914;
    border-top:none;
    border-bottom:none;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }

  .search{
    display:block;
    width:300px;
    margin:10px auto;
  }

  .search input[type="text"]{
    width:270px;
    margin:10px auto;
  }
}

/* Application Menu */

.app-bg{
  background-color:#07294d;
  display:block;
}


/* General menu styling */

.app-menu * {
  box-sizing:content-box;
}

.app-menu {
  position: relative;
  margin: 15px 0px 0px 0px;
  padding: 0;
  line-height:22px;
  box-sizing:content-box;
  float:right;
  background-color:#07294d;
  width: auto;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

  .app-menu {
    width:100%;

  }
}


/* The main navigation link containers */
.app-menu>li {
  background-color:#07294d;
  display: block;
  float: left; /* Displaying them on the same line */
  margin: 0;
  padding: 0;
  box-sizing:content-box;
}
/* The main navigation links */
.app-menu>li>a {
  /* Layout */
  display:block;
  padding:23px;
  margin:0;
  /* Text */
  text-decoration:none;
  text-transform:uppercase;
  color:#fff;
  font-family: 'Josefin Slab', serif;
  font-size:14px;
  font-weight:600;
  line-height:47px;
  /* Background */
  background-color:#07294d;
  border-right:1px solid #fff;
  /* Making the color to change on hover with a transition */
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.app-menu li:last-child a {
  border-right:none;
}
/* Changing the color on hover */
.app-menu>li>a:hover, .app-menu>li:hover>a {
  background-color:#cf4914;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
/* The links which contain dropdowns menu are wider, because they have a little arrow */
.app-menu>.dropdown>a {

  background-image:url(../../images/arrow/arrow-down.png);
  background-position:bottom center;
  background-repeat:no-repeat;
}

/* The submenus */
.app-menu ul {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}
/* General layout settings for the link containers of the submenus */
.app-menu ul li {
  position: absolute;
  top: -9999px; /* Hiding them */
  height: 0px;
  display: block;
  margin: 0;
  padding: 0;
  /* Making them to expand their height with a transition, for a slide effect */
  -webkit-transition: height .2s ease-in;
  -moz-transition: height .2s ease-in;
  -o-transition: height .2s ease-in;
  -ms-transition: height .2s ease-in;
}
/* Displays the submenu links, by expading their containers (with a transition, previously defined) and by repositioning them */
.dropdown:hover>ul>li {
  height: 30px;
  position: relative;
  top: auto;
}
/* The submenu links */
.app-menu ul li a {
  /* Layout */
  padding: 4px 20px;
  width: 120px;
  display: block;
  position: relative;
  /* Text */
  text-decoration:none;
  text-transform:uppercase;
  color:#fff;
  font-family: 'Josefin Slab', serif;
  font-size:17px;
  font-weight:600;
  /* Background & effects */
  background: black;
  background: rgba(7, 41, 78, 1);
  -webkit-transition: color .3s ease-in, background .3s ease-in;
  -moz-transition: color .3s ease-in, background .3s ease-in;
  -o-transition: color .3s ease-in, background .3s ease-in;
  -ms-transition: color .3s ease-in, background .3s ease-in;
}
/* Changing the link's color and background on hover */
.app-menu ul li:hover>a, .app-menu ul li a:hover {
  color: #fff;
  background: rgba(205, 64, 8, 1);
}
/* Making the level 2 (or higher) submenus to appear at the right of their parent */
.app-menu ul .dropdown:hover ul {
  left: 160px;
  top: 0px;
}
/* The submenu links have a different arrow which indicates another dropdown submenu */
.app-menu ul .dropdown>a {
  background-image:url(../../images/arrow/arrow-right.png);
  background-position:right center;
  background-repeat:no-repeat;
  -webkit-transition: color .3s ease-in;
  -moz-transition: color .3s ease-in;
  -o-transition: color .3s ease-in;
  -ms-transition: color .3s ease-in;
}

.app-menu>li>li>a:hover, .app-menu>li>li:hover>a {
  background-image:url(../../images/arrow/arrow-right.png);
  background-position:right center;
  background-repeat:no-repeat;
  -webkit-transition: color .3s ease-in;
  -moz-transition: color .3s ease-in;
  -o-transition: color .3s ease-in;
  -ms-transition: color .3s ease-in;
}

nav.appmenu{
  display:none;
}

/* Only for App Menu */

@media (min-width:981px) and (max-width:1199px){

  .app-menu li a{
    font-size:12px;
  }
}


@media (max-width:980px){

  .app-menu{
    display:none;
  }

  nav.appmenu{
    display:block;
  }


  .appmenu .slicknav_btn {
    width:150px;
    height:40px;
    background-color:#07294d;
    text-decoration:none;
  }

  .appmenu .slicknav_menu {
    background-color:#07294d;
  }

}

/*====================*/

/*=== Banners ===*/

.banners{
  display:block;
  width:100%;
  height:auto;
  overflow:-x hidden;
}


@media (max-width:767px){
  #banners{
    /*display:none;*/
  }
}


/*====================*/

/*=== Contents Styles ===*/

.page-title{
  display:block;
  position:relative;
  min-height:150px;
  background-color:#07294e;
  border-bottom:2px solid #f2664a	;
  border-radius: 0px 15px 0px 0px;
  -moz-border-radius: 0px 15px 0px 0px;
  -webkit-border-radius: 0px 15px 0px 0px;
  border: 1px solid #07294e;
  margin: -150px 0px 10px -30px;
  z-index:1048;
}

.page-title h1{
  display:block;
  margin:13px 0;
  border-top:1px solid #09386c;
  border-bottom:1px solid #09386c;
  line-height:150%;
  color:#fff;
  font-family: 'Josefin Slab', serif;
  font-size:40px;
  font-weight:900;
  padding:15px 30px;
  text-transform:capitalize;
  overflow: hidden;
}

.page-title h1 .alfatemi-text{
  display:block;
  float:right;
  margin:0 20px 0px 0;
  font-family: 'lsarabic';
  min-height:50px;
  font-weight: normal;
  font-style: normal;
  text-transform:lowercase;
  line-height:160%;
}

.page-title p{
  display:block;
  font-family: 'Lato', sans-serif;
  line-height:150%;
  color:#fff;
  padding:0px 25px;
  text-transform:capitalize;
  font-size:14px;
}

.page-title p a{
  color:#fff;
  margin:0px 5px;
}

.page-title p a.active{
  color:#79b7f4;
}

.roles{
  list-style:none;
  display:block;
  margin:30px 0;
}

.roles li{
  float:left;
}

.roles li a{
  display:block;
  background-color:#f2f0f1;
  background-image:url(../../images/arrow-left.png);
  background-position: 70px center;
  background-repeat:no-repeat;
  max-width:300px;
  height:40px;
  line-height:40px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin:0px 10px 30px;
  color:#07294d;
  text-transform:uppercase;
  font-size:13px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.roles li a:hover{
  color:#fff;
  background-color:#07294d;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration:none;
}
.roles li a span{
  display:block;
  float:left;
  background-color:#cd4008;
  background-position:center;
  background-repeat:no-repeat;
  width:70px;
  padding:20px 0;
  margin:0px 30px 0 0;
  border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  -webkit-border-radius: 10px 0px 0px 10px;
}

.business-man-icon {
  background-image:url(../../images/business-man-icon.png);
}

.sponsor-icon {
  background-image:url(../../images/sponsor-icon.png);
}

.foster-parent-icon {
  background-image:url(../../images/foster-parent-icon.png);
}

.mentor-icon {
  background-image:url(../../images/mentor-icon.png);
}

.counselor-icon {
  background-image:url(../../images/counselor-icon.png);
}

.teacher-icon {
  background-image:url(../../images/teacher-icon.png);
}

.student-icon {
  background-image:url(../../images/student-icon.png);
}


.arz-list{
  list-style:none;
  display:block;
  margin:30px 0;
}

.arz-list li{
  float:left;
}

.arz-list li a{
  display:block;
  background-color:#f2f0f1;
  background-image:url(../../images/arrow-right.png);
  background-position: 292px center;
  background-repeat:no-repeat;
  width:400px;
  height:40px;
  overflow:hidden;
  line-height:40px;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border:1px solid #ccc;
  margin:0px auto 30px;
  padding:0 0 0 30px;
  color:#cf4914;
  text-transform:uppercase;
  font-size:15px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.arz-list li button {
  display: block;
  background-color: #f2f0f1;
  height: 40px;
  overflow: hidden;
  line-height: 40px;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  padding: 0 0 0 30px;
  color: #cf4914;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.arz-list li button span{
  display:block;
  float:right;
  background-color:#cd4008;
  background-position:center;
  background-repeat:no-repeat;
  width:100px;
  text-align:center;
  height:40px;
  line-height:40px;
  margin:0px 0 0 30px;
  color:#fff;

}

.arz-list li button.others{
  background-color:#2c2c2c;
  color:#fff;
}

.arz-list li button sup{
  font-size:11px;
  text-transform:lowercase;
}

.arz-list li button:hover{
  border-color:#fff;
  color:#fff;
  background-color:#cf4914;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration:none;
}

.arz-list li button:hover span{
  color:#fff;
  background-color:#07294d;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.arz-list li a.others{
  background-color:#2c2c2c;
  color:#fff;
}

.arz-list li a sup{
  font-size:11px;
  text-transform:lowercase;
}

.arz-list li a:hover{
  border-color:#fff;
  background-image:url(../../images/arrow-right-hover.png);
  color:#fff;
  background-color:#cf4914;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration:none;
}

.arz-list li a:hover span{
  color:#fff;
  background-color:#07294d;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.arz-list li a span{
  display:block;
  float:right;
  background-color:#cd4008;
  background-position:center;
  background-repeat:no-repeat;
  width:100px;
  text-align:center;
  height:40px;
  line-height:40px;
  margin:0px 0 0 30px;
  color:#fff;

}

/* General Style */



.container.white-bg{
  background-color:#fff;
}

.divider01{
  width:100%;
  height:1px;
  display:block;
  background-color:#f3f3f3;
  clear:both;
  margin:20px 0;
}

.page{
  display:block;
  margin:0px 30px;
  max-width:100%;
}


.page h2{
  display:block;
  font-family: 'Lato', sans-serif;
  font-size:24px;
  line-height:150%;
  padding:20px 0px;
  text-align:left;
  color:#cf4914;
  text-transform:uppercase;
  font-weight:600;
}

.page h2 .alfatemi-text{
  font-size:30px;
  display:block;
  float:right;
  margin:0 20px 0 0;
  font-family: 'lsarabic';
  min-height:50px;
  font-weight: normal;
  font-style: normal;
  text-transform:lowercase;
  line-height:160%;
}

.page h4{
  display:block;
  font-family: 'Lato', sans-serif;
  font-size:16px;
  line-height:150%;
  padding:0px 0px 10px;
  text-align:left;
  color:#222;
  text-transform:uppercase;
  font-weight:600;
}

.page h4 .alfatemi-text{
  display:block;
  float:right;
  font-family: 'lsarabic';
  margin:0 0 0 20px;
  font-size: 24px;
  font-weight: 500;
}

.lsd{
  font-family: 'lsarabic' !important;
  font-size: 20px;
}

.white{
  color: #FFFFFF;
}

.bordered{
  margin: 0 10px 20px;
  padding: 20px;
  border: 3px solid #fff;
  border-radius: 0px 20px 0px 20px;
  -moz-border-radius: 0px 20px 0px 20px;
  -webkit-border-radius: 0px 20px 0px 20px;
  clear: both;
  text-transform: none;
}

.page h6{
  display:block;
  font-family: 'Lato', sans-serif;
  font-size:14px;
  line-height:160%;
  padding:20px;
  text-align:left;
  color:#fff;
  margin:20px 0;
  background-color:#d6492a;
  text-transform:none;
  font-weight:500;
}

.page h6 .alfatemi-text{
  max-width:100%;
  text-align:right;
  font-size:26px;
  display:block;
  float:none;
  margin:10px 0px;
  font-family: 'lsarabic';
  min-height:1px;
  font-weight: normal;
  font-style: normal;
  text-transform:lowercase;
  line-height:150%;
}




@media (max-width:980px){

  .page-title h1{
    text-align:center;
    font-size:26px;
    padding:5px 15px;
  }

  .page-title h1 .alfatemi-text{
    display:block;
    float:none;
    font-family: 'lsarabic';
    margin:0 20px;
  }


  .page h2{
    text-align:center;
  }

  .page h2 .alfatemi-text{
    float:none;
    margin:0 20px;
    font-size:16px;
  }


  .page h4{
    text-align:center;
  }

  .page h4 .alfatemi-text{
    float:none;
    margin:0 20px;
    font-size:18px;
  }

  .arb_ques {
    font-weight: 500;
    font-size: 24px;
  }
  input[type=radio].css-radiobutton2+ label.css-label2 {
    padding-right: 29px;
    height: 14px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: right top;
    font-size: 20px;
    vertical-align: middle;
    cursor: pointer;
    margin: 0 20px 0 0;
  }
  input[type=radio].css-radiobutton1+ label.css-label1.lsd {
    font-family: 'lsarabic';
    font-size: 20px;
  }
  .page {
    margin: 0px;
  }


}

@media (max-width:767px){
  .page-title{
    margin:80px 0 0;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    min-height:100%;
  }


  .page-title p{
    display:none;
  }

  .roles li{
    float:none;
    width:300px;
    margin:auto;
  }

  .arz-list li{
    float:none;
    width:300px;
    margin:auto;
  }

  .arz-list li a{
    width:300px;
    font-size:12px;
    padding:0 0 0 5px;
    background-position: 192px center;
  }
}

/*====================*/

/*=== Forms ===*/

/* Profile Form */

.profile-box{
  display:block;
  background-color:#155485;
  border-radius: 0px 20px 0px 20px;
  -moz-border-radius: 0px 20px 0px 20px;
  -webkit-border-radius: 0px 20px 0px 20px;
  padding:20px 0;
  margin:10px 50px;
}

.profile-box1{
  display:block;
  background-color:#155485;
  padding:20px 0;
  margin:10px 50px;
}

.profile-box img{
  width:200px;
  height:239px;
  margin:10px auto;
  border-radius: 0px 20px 0px 00px;
  -moz-border-radius: 0px 20px 0px 00px;
  -webkit-border-radius: 0px 20px 0px 00px;
  border:5px solid #fff;
  display:block;
}

.profile-box h5{
  background-color:#cf4914;
  display:block;
  font-family: 'Lato', sans-serif;
  font-size:16px;
  line-height:150%;
  padding:10px;
  text-align:center;
  color:#fff;
  text-transform:uppercase;
  font-weight:600;

}

.profile-box .inputs-with-tickbox{
  margin:10px;
  display:block;
  max-width:100%;
}

.profile-box input[type="text"].with-checkbox{
  padding:8px 8px 8px 36px;
  margin:5px 0;

}

.profile-box .checkbox{
  display: box;
  padding:4px 4px 4px 36px;
  margin:5px 0;

}

.profile-box .inputs-with-tickbox input[type=checkbox].css-checkbox2 + label.css-label2{
  border:1px solid #ccc;
  position:absolute;
  z-index:999;
  margin:13px 8px;
  padding-left:19px;
}

.profile-box-static{
  display:block;
  background-color: #cf4914;
  border-radius: 0px 20px 0px 20px;
  -moz-border-radius: 0px 20px 0px 0px;
  -webkit-border-radius: 0px 20px 0px 0px;
  padding:20px 0;
}

.profile-box-static h3{
  padding:0px !important;
}

.profile-box-static-bottom{
  min-height: 300px;
  display: block;
  -webkit-border-radius: 0px 0px 0px 20px;
  padding: 10px 0;
  border: 1px solid #cf4914;
  color: #000;
}
.profile-box-static-bottom a{
  color:#444444 !important;
  font-size: 14px;
  text-align: left;
  line-height: 150%;
  text-decoration: none;
  margin-left: 15px;
}

.profile-box-static-bottom hr{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.istibsaar-boxes {
  position: relative;
  -moz-border-radius: 0px 20px 0px 0px;
  -webkit-border-radius: 0px 20px 0px 0px;
  height: 135px;
  margin-bottom: 15px;
}

.istibsaar-boxes img {
  -moz-border-radius: 0px 20px 0px 0px;
  -webkit-border-radius: 0px 20px 0px 0px;
  padding: 5px;
}

.istibsaar-boxes .fa {
  margin: 10px 0;
}

.img-mts{
  max-width: 200px;
  max-height: 100px;
  margin: 0 auto;
}

.istibsaar-boxes-bottom {
  position: absolute;
  bottom: 0px;
  background-color: #165485;
  -moz-border-radius: 0px 0px 0px 20px;
  -webkit-border-radius: 0px 0px 0px 20px;
  height: 35px;
  width: 100%;
  margin: -2px 0 0 0px;
}

.istibsaar-boxes-bottom p {
  padding: 5px;
}

.static-show-button{
  display:block;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border: none;
  background-color: #549BC7;
  height: auto;
  line-height:20px;
  margin:20px auto;
  padding:10px;
  outline: none;
  color:#FFF;
  text-transform:uppercase;
  text-align:center;
  font-weight:bold;
  font-size:20px;
  float:right;
  text-decoration: underline none;
}

.blue-box1-level{
  padding: 10px !important;
  margin:20px 10px;
}

.blue-box1-level button{
  margin-left:15px;
  background: none;
  padding: 0px;
}

.blue-box1-level button:hover{
  color:#FFF;
}

.tick:before {
  content: "";
  display: block;
  background: url("/images/tick.png") no-repeat;
  width: 25px;
  height: 22px;
  float: right;
}

.cross:before {
  content: "";
  display: block;
  background: url("/images/cross-sm.png") no-repeat;
  width: 32px;
  height: 32px;
  float: left;
  margin: 0 6px 0 0;
}

.blue-box1-button{
  padding: 10px !important;
  margin: 20px !important;
  width: 83% !important;
  max-width: 85% !important;
}

.miqaat_stat {
  background-color: #155485;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  margin-bottom: 10px;
}

.miqaat_stat span {
  padding: 25px;
  vertical-align: middle;
  line-height: 80px;
  font-weight: 600;
  font-size: 18px;
  color: #FFF;
}

.miqaat_stat a  {
  text-decoration: none;
}

.miqaat_stat {
  background-color: #155485;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  margin-bottom: 10px;
}

.miqaat_stat span {
  padding: 25px;
  vertical-align: middle;
  line-height: 80px;
  font-weight: 600;
  font-size: 18px;
  color: #FFF;
}

.miqaat_stat a  {
  text-decoration: none;
}

.quiz-point{
  float: right;
  margin:20px auto;
  text-transform:uppercase;
}

.quiz-point h2{
  padding: 0px !important;
  text-align: center !important;
}

.quiz-point h2 img{
  vertical-align: middle;
}

.quiz-point-ques{
  border:1px solid #000;
  -webkit-border-radius: 0px 20px 0px 20px;
}

.quiz-point span{
  background-color: #CF4914;
  border-radius: 5px;
  padding: 5px;
  color: #FFF;
}

.quiz-point-radio{
  float: none;
  display: block;
  margin: 10px 0px;
  clear: both;
}

.quiz-point-radio.rtl{
  direction: rtl;
  font-family: 'lsarabic';
  text-align: right;
}

.quiz-point-radio label{
  margin-right: 10px;
}

.leader{
  background: #549BC7;
  padding: 15px;
  margin-bottom: 5px;
  border-radius: 6px;
  color: #FFF;
  font-size: 16px;
}

.leader .badge{
  padding: 5px 10px;
  background-color: #801A4C;
}

.profile .shift{
  margin:0px 20px 20px 0;
  display:block;
}

.profile:last-child .shift{
  margin:0px 90px 20px 0;
  display:block;
}

.profile .shift20{
  margin:0px 20px 20px 0;
  display:block;
}

.row.shift50{
  margin:0 70px 0px 0;
  display:block;
}

@media(max-width:980px){
  .profile .shift, .profile:last-child .shift{
    margin:0px 20px 20px;
    display:block;
  }

  .profile .shift20{
    margin:0px 20px 20px;
    display:block;
  }

  .row.shift50{
    margin:0;
    display:block;
  }


}

/* Form Type 01 */

.forms{
  display:block;
  height:auto;
}

.forms label{
  font-size:14px;
  font-family: 'Lato', sans-serif;
  line-height:150%;
  text-transform:uppercase;
}




/* Radio Button Style 1 */

input[type=radio].css-radiobutton{
  position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=radio].css-radiobutton+ label.css-label {
  padding-left:29px;
  height:24px;
  display:inline-block;
  line-height:24px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:15px;
  vertical-align:middle;
  cursor:pointer;
  margin:0 20px 0 0;

}

input[type=radio].css-radiobutton+ label.css-label:last-child {
  margin:0;
}

input[type=radio].css-radiobutton:checked + label.css-label {
  background-position: 0 -24px;
}
label.css-label {
  background-image:url('/images/radiobutton.png');
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

/* Radio Button Styling Ends */


/* Radio Button Style 2 */

input[type=radio].css-radiobutton1{
  position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=radio].css-radiobutton1+ label.css-label1 {
  padding-left:29px;
  height:14px;
  display:inline-block;
  line-height:14px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:14px;
  vertical-align:middle;
  cursor:pointer;
  margin:0 20px 0 0;

}

input[type=radio].css-radiobutton1+ label.css-label1:last-child {
  margin:0;
}

input[type=radio].css-radiobutton1:checked + label.css-label1 {
  background-position: 0 -24px;
}
label.css-label1 {
  background-image:url('/images/radiobutton1.png');
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}


input[type=radio].css-radiobutton1+ label.css-label1.lsd{
  font-family: 'lsarabic';
  font-size:22px;
}


/* Radio Button Styling Ends */


/* Checkbox 1 Style */


input[type=checkbox].css-checkbox1 {
  position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox1 + label.css-label1 {
  padding-left:24px;
  height:19px;
  display:inline-block;
  line-height:19px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:19px;
  vertical-align:middle;
  cursor:pointer;

}

input[type=checkbox].css-checkbox1:checked + label.css-label1 {
  background-position: 0 -19px;
}
label.css-label1 {
  background-image:url(../../images/checkbox-ticks.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Checkbox 1 Styling Ends */


/* Checkbox 2 Styling */

input[type=checkbox].css-checkbox2 {
  position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox2 + label.css-label2 {
  padding-left:24px;
  height:19px;
  display:inline-block;
  line-height:19px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:14px;
  vertical-align:middle;
  cursor:pointer;

}

input[type=checkbox].css-checkbox2:checked + label.css-label2 {
  background-position: 0 -19px;
}
label.css-label2 {
  background-image:url(../../images/checkbox-ticks1.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}




/* Checkbox 2 Styling  Ends */


.checkbox-text{
  display:block;
  text-align:left;
  font-size:14px;
  float:left;
  margin:0 30px 0 0;
}

.checkbox-text2{
  display:block;
  font-family: 'Lato', sans-serif;
  text-transform:uppercase;
  font-weight:300;
  text-align:left;
  font-size:14px;
  color:#fff;
  float:left;
  margin:0px 30px 30px 0;
  clear:both;
}


.fa.fa-info-circle{
  font-size:24px;
  color:#cd4008;
  margin:0px 10px 25px 0;
  float:left;
}

.fa.fa-info-circle.white{
  font-size:24px;
  color:#fff;
  margin:0px 10px 15px 0;
  float:left;
}
.checkbox-holder{
  display:block;
  float:left;
  width:20px;
  height:20px;
  margin:0 0 20px;
}

.radiobuttons-holder{
  float:right;
  display:block;
  margin:0 0 8px;
}

.radiobuttons-holder1{
  float:none;
  display:block;
  margin:34px 0px;
  clear:both;
}


.radiobuttons-holder1.rtl{
  direction: rtl;
  font-family: 'lsarabic';
  text-align:right;
}



/* Form Type 02 */

.forms1{
  display:block;
  max-width:100%;
  height:auto;
  padding:20px;
  background-color:#155485;
  margin:0 0 20px;
}

.forms1.white{
  background-color:#fff;
  padding:20px 0;
}

.blue-box{
  display:block;
  background-color:#155485;
  border-radius: 0px 20px 0px 20px;
  -moz-border-radius: 0px 20px 0px 20px;
  -webkit-border-radius: 0px 20px 0px 20px;
  padding:20px 40px 5px;
}

.blue-box1{
  display:block;
  background-color:#155485;
  border-radius: 0px 20px 0px 20px;
  -moz-border-radius: 0px 20px 0px 20px;
  -webkit-border-radius: 0px 20px 0px 20px;
  padding:20px 10px 0 ;
}

.blue-box2{
  display:block;
  background-color:#155485;
  padding:20px 10px 0 ;
}


.forms1 h2{
  display:block;
  font-family: 'Lato', sans-serif;
  font-size:18px;
  line-height:150%;
  padding:20px 0;
  text-align:left;
  color:#cf4914;
  text-transform:uppercase;
  font-weight:600;
}

.blue-box1.rtl h3{
  direction: rtl;
  font-family: 'lsarabic';
  text-align:right;
  font-size:22px;
}


.forms1 h3{
  display:block;
  font-family: 'Lato', sans-serif;
  font-size:18px;
  line-height:150%;
  padding:0px 0px 20px;
  text-align:left;
  color:#fff;
  text-transform:uppercase;
  font-weight:600;
}

.forms1 h3.bordered{
  margin:0 10px 20px;
  padding:20px;
  border:3px solid #fff;
  border-radius: 0px 20px 0px 20px;
  -moz-border-radius: 0px 20px 0px 20px;
  -webkit-border-radius: 0px 20px 0px 20px;
  clear:both;
  text-transform:none;
}

.forms1 h3.bordered .lsd{
  font-family: 'lsarabic';
  font-size:24px;
  display:block;
  clear:both;
  text-align:right;
  line-height:150%;
  font-weight: 500;
}

.forms1 h3.bordered .lsd .text-center{
  font-family: 'lsarabic';
  font-size:24px;
  display:block;
  clear:both;
  text-align:right;
  line-height:150%;
  font-weight: 500;
}




.forms1 p{
  display:block;
  font-family: 'Lato', sans-serif;
  color:#fff;
  font-size:14px;
  text-align:left;
  line-height:150%;
}


.forms1 a{
  color:#ffb99e;
}

.forms1 h3 .alfatemi-text{
  display:block;
  font-size:28px;
  float:right;
  margin:0;
  font-family: 'lsarabic';
  min-height:50px;
  font-weight: normal;
  font-style: normal;
  text-transform:lowercase;
  line-height:160%;
}

.forms1 input[type="text"], .forms1 input[type="email"] {
  width:100%;
  padding: 8px 8px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  z-index: 1;
  color: #303030;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  border:1px solid #d0d0d0;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  line-height: 18px;
  -webkit-font-smoothing: inherit;
  text-transform:uppercase;
}


.forms1 select {
  width:100%;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border: none;
  background-color: #fff;
  padding:5px 5px 5px 5px;
  outline: none;
  margin-bottom: 3px;
  height: 38px;
  font-size: 13px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #303030;
}

select.options {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.select-shift .select{
  margin:0 10px 20px 0;
}

.select-shift:nth-child(odd) .select{
  margin:0 0 20px 5px;
  display:block;
}

.shift .shift10{
  margin:0 10px 20px 0;
  display:block;
}

.shift:nth-child(even) .shift10{
  margin:0 0 20px 10px;
  display:block;
}

.forms1 .label{
  display:block;
  line-height:175%;
  font-family: 'Lato', sans-serif;
  font-size:12px;
  color:#fff;
  text-align:left;
  font-weight:600;
  padding:2px 0;
}

.forms1 .label small{
  font-size:12px;
  color:#fff;
  text-align:left;
  font-weight:500;
  margin:0px 10px;
}

.forms1 input[type="submit"].submit{
  display:block;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border: none;
  background-color: #033054;
  height: auto;
  margin:20px auto 0;
  padding:10px;
  outline: none;
  color:#fff;
  width:150px;
  text-transform:uppercase;
  text-align:center;
  float:left;
  line-height:20px;
}

.forms1 input[type="submit"].submit1{
  display:block;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border: none;
  background-color: #033054;
  height: auto;
  margin:20px auto 0;
  padding:10px;
  outline: none;
  color:#fff;
  min-width:150px;
  text-transform:uppercase;
  text-align:center;
  float:right;
  line-height:20px;
}

.forms1 input[type="submit"].submit2{
  display:block;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border: none;
  background-color: #65a6c0;
  height: auto;
  margin:20px auto;
  padding:10px;
  outline: none;
  color:#fff;
  min-width:150px;
  max-width:250px;
  text-transform:uppercase;
  text-align:center;
  float:right;
  line-height:20px;
}


.forms1 input[type="submit"].submit2.lsd{
  font-family: 'lsarabic';
  font-size:24px;
  padding:15px 10px 5px 10px;
}

.multitextbuttton{
  display:block;
  width:auto;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border: none;
  background-color: #cf4914;
  height: auto;
  margin:20px auto;
  padding:10px;
  outline: none;
  color:#fff;
  min-width:150px;
  max-width:250px;
  text-transform:uppercase;
  text-align:center;
  float:left;
  line-height:20px;
  text-decoration:none;
}


.forms1 .multitextbuttton span{
  font-family: 'lsarabic';
  font-size:26px;
  display:block;
  padding:5px 10px 0px;
  margin:0 0 0 10px;
  float:right;
  border-left:1px solid #fff;
  clear:both;
}



@media (max-width:980px){

  .forms1 h2 {
    margin:0px 20px;
  }

  .select-shift .select, .select-shift:nth-child(odd) .select{
    margin: 0 0 20px;
  }

  .shift .shift10, .shift:nth-child(even) .shift10{
    margin:0 0px 20px;
    display:block;
  }




}

@media (max-width:767px){

  .forms1 h3 {
    text-align:center;
  }

  .forms1 h3.bordered{
    text-align:left;
  }

  .forms1 h3 .alfatemi-text{
    float:none;
    margin:0 20px;
    font-size:16px;
    text-align:center;
  }

  .forms1 input[type="submit"].submit, .forms1 input[type="submit"]{
    float:none;
  }

  .forms1 input[type="submit"].submit1{
    float:none;
  }

  .forms1 .multitextbuttton span{
    float:none;
    border-left:none;
    margin:10px;
    text-align:center;
  }

  .forms1 .multitextbuttton{
    float:none;
    clear:both;
  }


  .radiobuttons-holder{
    float:none;
    display:block;
    width:18 0px;
    margin:0 auto 8px;
  }

}
/*====================*/


/*=== Tables ===*/

.table1 {
  width:100%;
  margin:10px auto;
  border-radius: 20px 20px 0px 0px;
  -moz-border-radius: 20px 20px 0px 0px;
  -webkit-border-radius: 20px 20px 0px 0px;
  border-collapse:seperate;
  overflow:hidden;

}


.table1 tr.first-child td{
  background:#f2664a;
  background: rgba(238,130,88,1);
  background: -moz-linear-gradient(top, rgba(238,130,88,1) 0%, rgba(205,93,48,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(238,130,88,1)), color-stop(100%, rgba(205,93,48,1)));
  background: -webkit-linear-gradient(top, rgba(238,130,88,1) 0%, rgba(205,93,48,1) 100%);
  background: -o-linear-gradient(top, rgba(238,130,88,1) 0%, rgba(205,93,48,1) 100%);
  background: -ms-linear-gradient(top, rgba(238,130,88,1) 0%, rgba(205,93,48,1) 100%);
  background: linear-gradient(to bottom, rgba(238,130,88,1) 0%, rgba(205,93,48,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee8258', endColorstr='#cd5d30', GradientType=0 );
  margin:0px;
  color:#fff;
  font-size:11pt;
  text-transform:uppercase;
  text-align:center;
  font-weight:600;
  padding:15px 30px;
}

.table1 thead:first-child th, .table1 thead.first-child th{
  background:#f2664a;
  background: rgba(238,130,88,1);
  background: -moz-linear-gradient(top, rgba(238,130,88,1) 0%, rgba(205,93,48,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(238,130,88,1)), color-stop(100%, rgba(205,93,48,1)));
  background: -webkit-linear-gradient(top, rgba(238,130,88,1) 0%, rgba(205,93,48,1) 100%);
  background: -o-linear-gradient(top, rgba(238,130,88,1) 0%, rgba(205,93,48,1) 100%);
  background: -ms-linear-gradient(top, rgba(238,130,88,1) 0%, rgba(205,93,48,1) 100%);
  background: linear-gradient(to bottom, rgba(238,130,88,1) 0%, rgba(205,93,48,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee8258', endColorstr='#cd5d30', GradientType=0 );
  margin:0px;
  color:#fff;
  font-size:11pt;
  text-transform:uppercase;
  text-align:center;
  font-weight:600;
  padding:15px 30px;
}

.table1.table *{
  border-top:none;
  padding:15px 10px;
}



.table1 tr:first-child td:first-child, .table1 tr.first-child td.first-child{
  /* text-align:left; */
}


.table1 tr td{
  padding:15px 10px;
  font-size:10pt;
  color:#fff;
  background:#155485;
  background: rgba(68,118,157,1);
  background: -moz-linear-gradient(top, rgba(68,118,157,1) 0%, rgba(21,84,133,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(68,118,157,1)), color-stop(100%, rgba(21,84,133,1)));
  background: -webkit-linear-gradient(top, rgba(68,118,157,1) 0%, rgba(21,84,133,1) 100%);
  background: -o-linear-gradient(top, rgba(68,118,157,1) 0%, rgba(21,84,133,1) 100%);
  background: -ms-linear-gradient(top, rgba(68,118,157,1) 0%, rgba(21,84,133,1) 100%);
  background: linear-gradient(to bottom, rgba(68,118,157,1) 0%, rgba(21,84,133,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44769d', endColorstr='#155485', GradientType=0 );
  text-align:center;
  font-weight:600;
  border-right:1px solid #fff;
}

.table1 thead th{
  padding:15px 10px;
  font-size:10pt;
  color:#fff;
  background:#155485;
  background: rgba(68,118,157,1);
  background: -moz-linear-gradient(top, rgba(68,118,157,1) 0%, rgba(21,84,133,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(68,118,157,1)), color-stop(100%, rgba(21,84,133,1)));
  background: -webkit-linear-gradient(top, rgba(68,118,157,1) 0%, rgba(21,84,133,1) 100%);
  background: -o-linear-gradient(top, rgba(68,118,157,1) 0%, rgba(21,84,133,1) 100%);
  background: -ms-linear-gradient(top, rgba(68,118,157,1) 0%, rgba(21,84,133,1) 100%);
  background: linear-gradient(to bottom, rgba(68,118,157,1) 0%, rgba(21,84,133,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44769d', endColorstr='#155485', GradientType=0 );
  text-align:center;
  font-weight:600;
  border-right:1px solid #fff;
}

.table1 tr td:last-child{
  border-right:none;
}

.table1 thead th:last-child{
  border-right:none;
}

.table1 thead tr th{
  border-bottom: none;
}

.table2 {
  width:100%;
  margin:10px auto;
  border-collapse: collapse;
}


.table2 thead.first-child td{
  background:#20567f;
  margin:2px;
  color:#fff;
  font-size:11pt;
  border:1px solid #fff;
  text-transform:uppercase;
}

.table2 tr:first-child td.blue{
  background:#20567f;
}

.table2 tr:first-child td.blue1{
  background:#2c6591;
}

.table2 tr:first-child td.blue2{
  background:#6897bc;
}

.table2 tr:first-child td.blue3{
  background:#96bbd8;
}

.table2 thead th.blue{
  background:#20567f;
}

.table2 thead th.blue1{
  background:#2c6591;
}

.table2 thead th.blue2{
  background:#6897bc;
}

.table2 thead th.blue3{
  background:#96bbd8;
}

.table2 td.emailadd a{
  color:#6296cf;
}

.table2 td.webadd a{
  color:#cf4914;
}

.table2 td{
  max-width:100%;
  padding:5px;
  border:1px solid #fff;
  font-size:10pt;
  color:#333;
  line-height:150%;
  text-align:center;
  font-size:10pt;
  background-color:#f3f2f2;
}

.table2 th{
  max-width:100%;
  padding:5px;
  border:1px solid #fff;
  font-size:10pt;
  color:#fff;
  line-height:150%;
  text-align:center;
  font-size:11pt;
  background-color:#f3f2f2;
  text-transform: uppercase;
  margin:2px;
  vertical-align: top !important;
}


.table2 tr:nth-child(2n+1) td{
  background-color:#f7f7f7;
}



@media (max-width:980px){
  .table2 {
    border-collapse: collapse;
    overflow-y:hidden;
    overflow-x:auto;
    display:block;
  }

  .table2 td{
    width:100%;
  }

}



@media (max-width:767px){
  .table1 {
    border-collapse: collapse;
    overflow-y:hidden;
    overflow-x:auto;
    display:block;
  }

  .arz-list li button {
    font-size: 12px;
  }
}

/*====================*/

/*=== Footer ===*/

.footer-upper{
  width:100%;
  dislay:block;
  background-color:#043055;
}

.footer-upper .contents{
  margin:10px 0 0;
  padding:15px;
  background-color:#043055;
  dislay:block;
  border-right:1px solid #ccc;
  min-height:260px;
}

.footer-upper .contents:last-child{
  border-right:none;
}

.footer-upper .contents h2{
  font-family: 'Lato', sans-serif;
  line-height:150%;
  color:#f2c10f;
  dislay:block;
  text-align:left;
  font-size:24px;
  text-transform:uppercase;
}
.footer-upper .contents p{
  font-family: 'Lato', sans-serif;
  line-height:150%;
  color:#fff;
  dislay:block;
  text-align:justify;
  font-size:14px;
  font-weight:200;
}

.footer-upper .contents .footer-links{
  list-style:none;
  width:300px;
  display:block;
  margin:0;
  color:#fff;
}

.footer-upper .contents .footer-links li a{
  font-family: 'Lato', sans-serif;
  color:#fff;
  font-size:13px;
  display:inline;
  padding:2px 5px;
}

.footer-upper .contents .footer-links li:before {
  content: "-";
}

footer{
  display:block;
  background-color:#155485;
  padding:5px 10px;
}

footer p{
  display:block;
  line-height:150%;
  font-family: 'Lato', sans-serif;
  color:#fff;
  font-size:13px;
}

footer p a{
  color:#fff;
}

footer p a:hover{
  color:#cf4914;
}

footer p span{
  display:block;
  float:right;
}

.col-md-12.col-sm-12.text-right {
  position: relative;
  right: 15px;
}

@media (max-width:980px){
  .footer-upper .contents{
    display:none;
  }

  footer p{
    display:block;
    text-align:center;
  }

  footer p span{
    display:block;
    float:none;
  }

  body {
    background: #fff !important;
  }

  a.login {
    width: 100%;
    padding: 10px;
  }

  .container {
    padding: 0px;
  }

  .col-md-12.col-sm-12.text-right {
    padding: 0px;
    right: auto;
    left: auto;
  }

  .page-title {
    margin-top: 10px;
  }


  input[type=radio].css-radiobutton2+ label.css-label2 {
    font-size: 20px;
  }

  .arb_ques {
    font-size: 20px;
  }

  .profile-box {
    margin: 0px;
  }

}

div.course_yes {
  clear: both;
}


/*====================*/

.bayan {
  margin: 30px 0;
}

.text-center {
  text-align: center !important;
}

.font18 {
  font-size: 18px !important;
}

.arb_ques{
  font-weight: 500;
  font-size: 20px;
}

.required{
  border : 1px solid #B22400 !important;
  line-height: 0.8;
}

.success{
  border : 1px solid #2EBA2E !important;
  line-height: 0.8;
}

.required-star:after {
  content:"*";
  color: red;
  margin-left:5px;
}

.note{
  display: block;
  margin: 5px;
  font-size: 14px;
  font-weight: 600;
  text-transform: none;
  color: #ccc;
}

input[type=radio].css-radiobutton2:checked + label.css-label2 {
  background-position: right bottom;
}

input[type=radio].css-radiobutton2+ label.css-label2 {
  padding-right: 29px;
  height: 14px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: right top;
  font-size: 22px;
  vertical-align: middle;
  cursor: pointer;
  margin: 0 20px 0 0;
}
label.css-label2 {
  background-image: url(../../images/checkbox-ticks.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input[type=radio].css-radiobutton2 {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.help-icon{
  color: #cf4914;
  font-size: 24px !important;
  cursor: help;
}
.white-help{
  color: #fff !important;
}
.modal-body h1{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 20px;
  border-bottom: 1px solid #d6492a;
}
.modal-header{
  font-size: 22px;
  font-weight: 700;
}
.spacer{
  min-height: 300px;
}
.popover-content{
  color: black;
}
.bg-info, .bg-danger, .bg-primary, .bg-success, .bg-warning{
  padding: 15px;
  color: #333 !important;
  line-height: 1.42857143;
}

.page-steps {
  color: #444444;
  float:right;
  padding:30px;
}
.mb10{
  margin-bottom: 10px !important;
}
.mb20{
  margin-bottom: 20px !important;
}
.blue-btn{
  background-color: #033054;
  color: white !important;
  margin-top: 20px;
  text-transform: uppercase;
  padding: 10px;
}
.orange-btn{
  background-color: #d6492a;
  color: white !important;
  margin-top: 20px;
  text-transform: uppercase;
  padding: 10px;
}
.slicknav_nav .slicknav_row {
  background-color: #d6492a;
}
.slicknav_nav a {
  background-color: #d6492a;
  font-size: 16px !important;
}
.color-black{
  color: #000;
}
.nav-tabs.nav-justified>a{
  color: #cf4914;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus{
  background-color: #cf4914;
  color: #fff;
}
.nav-tabs.nav-justified>.active>a:hover{
  background-color: #FAEDE8;
}
.color-red{
  color: #F31113;
}
.dark-blue{
  color: #09386c;
}
.large-fonts{
  font-size: 24px;
}
.nav li a{
  color: #155485;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 14px;
}
.static-show-button2{
  display: block;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border: none;
  background-color: #549BC7;
  height: auto;
  line-height: 20px;
  margin: 20px auto;
  padding: 10px;
  outline: none;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  float: right;
  text-decoration: underline none;
}
.sliders{
  margin: 0 20px;
}
.noui-header{
  padding: 20px 0;
  font-weight: 900;
}
.h50{
  display: block;
  height: 50px;
  clear: both;
}
.nouivalspan{
  display: block;
  clear: both;
  margin: 20px 0;
}
.img-center{
  margin: 0 auto;
}
.progress{
  margin-bottom: 0;
}
hr.sleek{
  margin: 10px 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  background-color: #cf4914;
  color: #fff;
}
label.css-label3 {
  background-image:url('/images/radiobutton1.png');
  height: 24px !important;
  line-height: 24px !important;
}

.araz-is-for {
  padding: 10px 10px;
  background: #FFFEF9;
  border: 1px dashed #FDAA1F;
}

.start-again {
  padding: 30px;
  color: #155485 !important;
  cursor: pointer;
}

.no-style li {
  list-style: none !important;
}

.qrn-text-box {
  display: block;
  width: 100%;
  height: 34px !important;
  padding: 6px 12px !important;
  font-size: 14px !important;
  line-height: 1.42857143 !important;
  color: #555 !important;
  background-color: #fff !important;
  background-image: none !important;
  border: 1px solid #d0d0d0 !important;
  border-radius: 4px !important;
  border-radius: 0px !important; /*Overriding for consistency*/
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s !important;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
}


input[type="text"], input.qrn-text-box {
	padding: 7px 12!important;
	height: auto!important;
	border-radius: inset 0 1px 2px rgba(0, 0, 0, 0.15)!important;
}

/* 03-04-2016 */
.side-bar{
	margin-top: 25px;
}

.sidebar-block{
	border: 1px solid #e0e0e0;
	margin-bottom: 25px;
	font-family: 'Ubuntu', sans-serif;
}

h3.sidebar-block-title{
	color: #414141;
	text-transform: uppercase;
	padding: 15px 40px 15px 25px;
	position: relative;
	font-weight: bold;
	font-size: 16px;
	border-bottom: 1px solid #eeeeee;
}

h3.sidebar-block-title i.fa{ 
	position: absolute;
	top: 15px;
	right: 20px;
	color: #b7b7b7;
	font-size: 18px;
}

.courses-list{
	margin: 0;
	padding: 0;
	list-style: none;
}

.courses-list > li > a{
	border-bottom: 1px solid #eeeeee;
	padding: 10px 40px 10px 25px;
}

.courses-list > li > a.list-toggle.collapsed{
	background: #fff;
	color: #2a2a2a;
}

.courses-list > li:last-child > a,
.courses-list > li:last-child .sub-courses li > a{
	border-bottom: 0;
}

.courses-list li a{
	color: #2a2a2a;
	text-decoration: none;
	display: block;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 500;
	-moz-transition: all ease 300ms;
	-webkit-transition: all ease 300ms;
	transition: all ease 300ms;
}

.courses-list > li > a.list-toggle{
	position: relative
}

.courses-list > li > a.list-toggle i{
	position: absolute;
	top: 50%;
	right: 25px;
	margin-top: -12px;
	font-size: 24px;
	color: #fff;
	-moz-transition: all ease 300ms;
	-webkit-transition: all ease 300ms;
	transition: all ease 300ms;
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.courses-list > li > a.list-toggle.collapsed i{
	color: #b7b7b7;
	-moz-transform: rotate(0);
	-webkit-transform: rotate(0);
	transform: rotate(0);
}

.courses-list > li > a.list-toggle.collapsed:hover i,
.courses-list > li > a.list-toggle.collapsed:focus i{
	color: #fff;
}

.courses-list > li > a.list-toggle,
.courses-list > li > a.active,
.courses-list li a:hover,
.courses-list li a:focus{
	color: #fff;
	background: #cf4914;
	text-decoration: none;
}

.courses-list .sub-courses{
	list-style: none;
}

.courses-list .sub-courses > li > a{
	padding: 10px 25px 10px 45px;
	background: #f5f5f5;
	border-bottom: 1px solid #dbe2e6;
}

.courses-list > li > a.list-toggle.collapsed:hover,
.courses-list > li > a.list-toggle.collapsed:focus,
.courses-list .sub-courses > li > a:hover,
.courses-list .sub-courses > li > a:focus{
	background: #cf4914;
	color: #fff;
}

.sidebar-block.padding{
	padding: 25px;
}

.profile-block .sidebar-block-title{
	padding: 0 0 15px;
	border-bottom: 0;
}

.sidebar-block .user-name{
	color: #337ab7;
	font-size: 21px;
	font-weight: bold;
	padding: 0 0 15px;
	background: #fff;
}

.info-text{
	font-size: 13px;
	color: #2a2a2a;
	font-weight: 500;
	margin-bottom: 15px;
}

.achievement-list{
	margin-bottom: 15px;
}

.achievement-list img{
	display: inline-block;
	margin-right: 15px;
}

.see-more{
	color: #2c85b8;
	text-decoration: none;
	border-bottom: 1px solid;
	font-size: 13px;
}

.see-more:hover{ text-decoration: none; }

.see-more i{
	font-size: 12px;
	margin-left: 5px;
}

.right-side-wrap{
	margin-top: 25px;
	font-family: 'Ubuntu', sans-serif;
}

.title-wrap{
	margin-bottom: 15px
}

.title-wrap h2{
	font-size: 24px;
	color: #1b1b1b;
	background: none;
	float: left;
}

.back-link{
	float: right;
	display: inline-block;
	margin: 10px 0;
	color: #737373;
	font-size: 12px;
	text-decoration: none;
	padding: 5px 15px;
	background: #f5f5f5;
}

.back-link:hover{ text-decoration: none; }

.course-block{
	border: 1px solid #e0e0e0;
	margin-bottom: 25px;
}
.course-sum{
	padding: 30px;
}
.course-sum h3{
	color: #337ab7;
	font-size: 21px;
	line-height: 1.4;
	font-weight: bold;
}
.course-sum h5{
	font-size: 14px;
	color: #2a2a2a;
	margin-bottom: 18px;
	font-weight: bold;
}
.course-sum p{
	font-size: 13px;
	margin-bottom: 15px;
}
.course-count-list{ list-style: none; margin: 0; padding: 0; color: #6b6b6b; font-size: 13px; line-height: 1.3; }
.course-count-list .count{ color: #cf4914; }


.course-prog-wrap .course-list-toggle{
	display: block;
	padding: 15px 30px;
	color: #414141;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
	font-weight: bold;
	background: #f6f6f6;
}

.course-prog-wrap .course-list-toggle i,
.course-progs-list .prog-name i{
	position: absolute;
	right: 15px;
	top: 50%;
	font-size: 15px;
	margin-top: -7px;
	color: #b7b7b7;
	-moz-transition: all ease 300ms;
	-webkit-transition: all ease 300ms;
	transition: all ease 300ms;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.course-prog-wrap .course-list-toggle.collapsed i,
.course-progs-list .prog-name.collapsed i{
	color: #b7b7b7;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.course-progs-list .prog-name{
	display: block;
	padding: 15px 30px;
	color: #414141;
	text-decoration: none;
	position: relative;
	background: #f1f7fa;
	color: #2c85b8;
	font-size: 14px;
	font-weight: bold;
}
.course-progs-list .prog-name span{ display: inline-block; margin-right: 18px; }
.course-progs-list .prog-name.collapsed{
	background: #f6f6f6;
}
.course-progs-list .prog-content{ padding: 10px 60px; }
.prog-content > ul{ list-style: none; margin: 0; padding: 0; }
.prog-content > ul li{ padding: 14px 0; }
.prog-content > ul li a{ color: #383838; font-size: 14px; font-weight: bold; text-decoration: none; }
.prog-content > ul li a i{ color: #b7b7b7; margin-right: 10px; }
.course-prog-foot{ padding: 30px; }
.course-prog-foot ul{ list-style: none; margin: 0; padding: 0; max-width: 70%; float: left; }
.course-prog-foot ul li{ display: inline-block; min-width: 180px; margin-bottom: 15px; font-size: 12px; color: #2a2a2a; }
.course-prog-foot ul li i{ color: #b7b7b7; font-size: 16px; vertical-align: top; }
.course-prog-foot ul li b{ font-size: 14px; margin-left: 10px; }
.course-prog-foot ul li b a{ text-decoration: none; color: #47b1ee }
.course-prog-foot ul li b a:hover{ border-bottom: 1px solid; }
.course-prog-foot ul li b.price-text{ color: #cc1b1b; }
.text-orange{ color: #cf4914; }

.course-prog-foot .action{ float: right; margin: 0; }
.course-prog-foot .action .btn{ margin: 0; }


@media screen and (max-width: 767px){
	.title-wrap h2,
	.back-link,
	.course-prog-foot ul{ float: none; max-width: 100%; }
	.course-prog-foot .action{ float: left; margin-top: 15px; }
}