<div class="container white-bg" style="padding:0px;">
<!-- <div class="footer-upper">
<div class="clearfix"></div>
<div class="col-md-4 contents">
	<h2>About Talabulilm</h2>
	<p>With the Raza and Dua mubarak of Aaqa maula tus this is an initiative for combining the efforts of all the students and the faculties for the upliftment of education in mumineen.</p></div>
<div class="col-md-4 contents">
<h2>sitemap</h2>
	<ul class="footer-links">
<li><a href="#">Home</a></li>
<li><a href="#">About Us</a></li>
<li><a href="#">News events</a></li>
<li><a href="#">Admissions</a></li>
<li><a href="#">Contact us</a></li>
<li><a href="#">Activities</a></li>
<li><a href="#">Istibsaar</a></li>
<li><a href="#">Academic institutes</a></li>
<li><a href="#">Marahil</a></li>
<li><a href="#">Istifaadah</a></li>
	</ul>
	</div>
<div class="col-md-4 contents">
	<h2>Contact uS</h2>
	<p>Mahad al-Hasanaat al-Burhaniyah<br>
Al Jamea tus Saifiyah<br>Al-Shu'oon al-'Aammah, Education<br>
department.<br><br>
Taj Building, B 2, Fort, Dr. D.N Road, Mumbai 400 001h<br>
Telephone: 022 4921 6552, 4921 6515<br>
Email: <a href="mailto:education@alvazarat.org">education@alvazarat.org</a></p></div>
</div>
<div class="clearfix"></div> -->

<footer>
<!--  <form class="form1 white" method="post" action="">
    <div class="col-md-12">
      <h2>Query Form :</h2><br>
      <div class="clearfix"></div>  do not delete 
      <div class="col-md-4">
        <select name="f_ques" class="form-control" required> 
          <option value="">Select Any</option>
          <option value="1">Course not in the List</option>
          <option value="2">Institute not in the List</option>
          <option value="3">Country not in the List</option>
          <option value="4">City not in the List</option>
        </select>
      </div>
      <div class="col-md-4">
        <textarea name="f_ans" class="form-control" required></textarea>
      </div>
      <div class="col-md-2">
        <input type="submit" value="Submit" name="que_submit" class="btn btn-block">
      </div>
    </div>
  </form>-->
  <p>&copy; Mahad al-Hasanaat al-Burhaniyah, All Rights Reserved.<span>Designed by:  <a href="http://bohradevelopers.com" target="_blank">Bohradevelopers</a><br>Developed By: <a href="http://www.matrixsoftwares.com/" target="_blank">Matrix Software Solutions</a></span></p>
  <div class="clearfix"></div>
</footer>
</div>
<!-- Javascript-->
<!-- ====================================================================================================== -->
<script>
  $('.select-input').select2({ width: '100%' });
  
  setTimeout(function() {
    $(".alert-message").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove(); 
    });
  }, 60000);

  $('.carousel').carousel({
    interval: 5000
  });

</script>
</body>
</html>
