@font-face {
    font-family: 'al-fatemilisaan-ud-dawatRg';
    src: url('../fonts/Kanz-al-Marjaan.eot');
    src: url('../fonts/Kanz-al-Marjaan.eot?#iefix') format('embedded-opentype'), url('../../fonts/Kanz-al-Marjaan.ttf') format('woff2'), url('../../fonts/Kanz-al-Marjaan.ttf') format('woff'), url('../../fonts/Kanz-al-Marjaan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "lisan-ud-dawat";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Kanz-al-Marjaan.eot?#iefix") format("embedded-opentype"), url("../../fonts/Kanz-al-Marjaan.ttf") format("woff"), url("../../fonts/Kanz-al-Marjaan.ttf") format("truetype");
}
@font-face {
    font-family: 'al-fatemi_lsd1424_ver1regular';
    src: url('../../fonts/Kanz-al-Marjaan.ttf');
    src: url('../fonts/Kanz-al-Marjaan.eot?#iefix') format('embedded-opentype'), url('../../fonts/Kanz-al-Marjaan.ttf') format('woff2'), url('../../fonts/Kanz-al-Marjaan.ttf') format('woff'), url('../../fonts/Kanz-al-Marjaan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "lsarabic";
    src: url('../../fonts/Kanz-al-Marjaan.ttf');
}
@font-face {
    font-family: "lsdqasaid";
    src: url('../fonts/me_quran.ttf');
}
