@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700);
@import url(font-awesome.min.css?v=1);
@import url(al-fatemi.css);

@font-face {
    src: url('/fonts/Kanz-al-Marjaan.ttf'), url('fonts/Kanz-al-Marjaan.eot');
}