
/* General menu styling */

.app-menu * {
box-sizing:content-box;
}

.app-menu {
position: relative;
margin: 15px 0px 0 0;
padding: 0;
line-height:22px;
box-sizing:content-box;
float:right;
background-color:#07294d;
width:100%;
}
/* The main navigation link containers */
.app-menu>li {
background-color:#07294d;
display: block;
float: left; /* Displaying them on the same line */
margin: 0;
padding: 0;
box-sizing:content-box;
}
/* The main navigation links */
.app-menu>li>a {
/* Layout */
display:block;
padding:25px;
margin:0;
/* Text */
text-decoration:none;
text-transform:uppercase;
color:#fff;
font-family: 'Josefin Slab', serif;
font-size:14px;
font-weight:600;
line-height:47px;
/* Background */
background-color:#07294d;
border-right:1px solid #fff;
/* Making the color to change on hover with a transition */
-webkit-transition: all 1s ease;
  	-moz-transition: all 1s ease;
  	-o-transition: all 1s ease;
  	-ms-transition: all 1s ease;
  	transition: all 1s ease;
}

.app-menu li:last-child a {
border-right:none;
}
/* Changing the color on hover */
.app-menu>li>a:hover, .app-menu>li:hover>a {
background-color:#cf4914;
-webkit-transition: all 1s ease;
  	-moz-transition: all 1s ease;
  	-o-transition: all 1s ease;
  	-ms-transition: all 1s ease;
  	transition: all 1s ease;
}
/* The links which contain dropdowns menu are wider, because they have a little arrow */
.app-menu>.dropdown>a {
padding: 25px 30px 25px 20px;
background-image:url(../images/arrow/arrow-down.png);
background-position:bottom center;
background-repeat:no-repeat;
}

/* The submenus */
.app-menu ul {
position: absolute;
margin: 0;
padding: 0;
list-style: none;
display: block;
}
/* General layout settings for the link containers of the submenus */
.app-menu ul li {
position: absolute;
top: -9999px; /* Hiding them */
height: 0px;
display: block;
margin: 0;
padding: 0;
/* Making them to expand their height with a transition, for a slide effect */
-webkit-transition: height .2s ease-in;
-moz-transition: height .2s ease-in;
-o-transition: height .2s ease-in;
-ms-transition: height .2s ease-in;
}
/* Displays the submenu links, by expading their containers (with a transition, previously defined) and by repositioning them */
.dropdown:hover>ul>li {
height: 30px;
position: relative;
top: auto;
}
/* The submenu links */
.app-menu ul li a {
/* Layout */
padding: 4px 20px;
width: 120px;
display: block;
position: relative;
/* Text */
text-decoration:none;
text-transform:uppercase;
color:#fff;
font-family: 'Josefin Slab', serif;
font-size:14px;
font-weight:600;
/* Background & effects */
background: black;
background: rgba(7, 41, 78, .8);
-webkit-transition: color .3s ease-in, background .3s ease-in;
-moz-transition: color .3s ease-in, background .3s ease-in;
-o-transition: color .3s ease-in, background .3s ease-in;
-ms-transition: color .3s ease-in, background .3s ease-in;
}
/* Changing the link's color and background on hover */
.app-menu ul li:hover>a, .app-menu ul li a:hover {
color: #fff;
background: rgba(205, 64, 8, .75);
}
/* Making the level 2 (or higher) submenus to appear at the right of their parent */
.app-menu ul .dropdown:hover ul {
left: 160px;
top: 0px;
}
/* The submenu links have a different arrow which indicates another dropdown submenu */
.app-menu ul .dropdown>a {
background-image:url(../images/arrow/arrow-right.png);
background-position:right center;
background-repeat:no-repeat;
-webkit-transition: color .3s ease-in;
-moz-transition: color .3s ease-in;
-o-transition: color .3s ease-in;
-ms-transition: color .3s ease-in;
}

.app-menu>li>li>a:hover, .app-menu>li>li:hover>a {
background-image:url(../images/arrow/arrow-right.png);
background-position:right center;
background-repeat:no-repeat;
-webkit-transition: color .3s ease-in;
-moz-transition: color .3s ease-in;
-o-transition: color .3s ease-in;
-ms-transition: color .3s ease-in;
}