@font-face {
	font-family: 'al-kanz';
	/*src: url('../fonts/Kanz-al-Marjaan.ttf') format('truetype');*/
	src: url('../../fonts/kanz.ttf') format('truetype');
}


::-moz-selection {
    background: #07294d;
    color: #fff
}

::selection {
    background: #07294d;
    color: #fff
}

::-webkit-selection {
    background: #07294d;
    color: #fff
}

::-o-selection {
    background: #07294d;
    color: #fff
}

::-ms-selection {
    background: #07294d;
    color: #fff
}

@keyframes zoom {
    from {
        transform: scale(1, 1)
    }
    to {
        transform: scale(1.5, 1.5)
    }
}

@keyframes change-size {
    from {
        box-shadow: 0 0 0 0 #385370, inset 0 0 0 1px #385370, inset 0 0 0 16px #FFF, inset 0 0 0 16px #385370
    }
    to {
        box-shadow: 0 0 0 1px #385370, inset 0 0 0 1px #385370, inset 0 0 0 16px #FFF, inset 0 0 0 16px #385370
    }
}

@keyframes select-radio {
    0% {
        box-shadow: 0 0 0 0 #8394a6, inset 0 0 0 2px #FFF, inset 0 0 0 3px #385370, inset 0 0 0 16px #FFF, inset 0 0 0 16px #385370
    }
    90% {
        box-shadow: 0 0 0 10px #b4bec9, inset 0 0 0 0 #FFF, inset 0 0 0 1px #385370, inset 0 0 0 2px #FFF, inset 0 0 0 16px #385370
    }
    100% {
        box-shadow: 0 0 0 12px #b4bec9, inset 0 0 0 0 #FFF, inset 0 0 0 1px #385370, inset 0 0 0 3px #FFF, inset 0 0 0 16px #385370
    }
}

@keyframes select-checkbox {
    0% {
        box-shadow: 0 0 0 0 #8394a6, inset 0 0 0 2px #FFF, inset 0 0 0 3px #385370, inset 0 0 0 16px #FFF, inset 0 0 0 16px #385370
    }
    90% {
        box-shadow: 0 0 0 10px #b4bec9, inset 0 0 0 0 #FFF, inset 0 0 0 1px #385370, inset 0 0 0 0 #FFF, inset 0 0 0 16px #385370
    }
    100% {
        box-shadow: 0 0 0 12px #b4bec9, inset 0 0 0 0 #FFF, inset 0 0 0 1px #385370, inset 0 0 0 0 #FFF, inset 0 0 0 16px #385370
    }
}

@keyframes spin {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}

@keyframes leader {
    0% {
        transform: rotate(0)
    }
    12% {
        transform: rotate(90deg);
        border-bottom-color: transparent
    }
    12.00001% {
        border-bottom-color: #fff
    }
    25% {
        transform: rotate(180deg);
        border-bottom-color: #fff
    }
    37.5% {
        transform: rotate(180deg);
        border-bottom-color: #fff;
        border-right-color: transparent
    }
    37.50001%,
    50% {
        transform: rotate(180deg);
        border-bottom-color: transparent;
        border-right-color: transparent
    }
    67.5% {
        transform: rotate(270deg);
        border-bottom-color: transparent;
        border-right-color: transparent
    }
    67.50001% {
        transform: rotate(270deg);
        border-bottom-color: #fff;
        border-right-color: transparent
    }
    75%,
    87.5% {
        transform: rotate(360deg);
        border-bottom-color: #fff;
        border-right-color: transparent
    }
    100%,
    87.50001% {
        transform: rotate(360deg);
        border-bottom-color: transparent;
        border-right-color: transparent
    }
}

@keyframes trailer {
    0%,
    25% {
        transform: rotate(0)
    }
    37.5% {
        transform: rotate(90deg)
    }
    50% {
        transform: rotate(180deg);
        border-bottom-color: transparent;
        border-right-color: transparent
    }
    75% {
        transform: rotate(180deg)
    }
    87.5% {
        transform: rotate(270deg)
    }
    100% {
        transform: rotate(360deg);
        border-bottom-color: transparent;
        border-right-color: transparent
    }
}

@keyframes pounding {
    0% {
        transform: scale(1.5)
    }
    100% {
        transform: scale(1)
    }
}

@keyframes heart-anim {
    46% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.3)
    }
    52% {
        transform: scale(1.5)
    }
    55% {
        transform: scale(3)
    }
    100% {
        opacity: 0;
        transform: scale(50)
    }
}

@keyframes hamburger-icon-cross {
    100% {
        transform: rotate(45deg)
    }
}

@keyframes hamburger-icon-cross-before {
    100%,
    20% {
        opacity: 0;
        top: 0
    }
}

@keyframes hamburger-icon-cross-after {
    100% {
        transform: rotate(-90deg);
        margin: -50% 0
    }
}

@keyframes hamburger-icon-from-cross {
    0% {
        transform: rotate(45deg);
        margin: 40% 0
    }
}

@keyframes hamburger-icon-from-cross-before {
    0% {
        opacity: 0;
        top: 0
    }
}

@keyframes hamburger-icon-from-cross-after {
    0% {
        transform: rotate(-90deg);
        margin: -80% 0
    }
}

.btn {
    cursor: pointer;
    position: relative;
    border: 0;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    min-width: 76px;
    outline: 0;
    padding: 10px 15px;
    border-radius: 5px;
    line-height: normal;
    text-align: center
}

.btn .__subtext {
    font-size: 11px;
    color: rgba(255, 255, 255, .85);
    display: block;
    text-shadow: initial
}

.btn._wahid {
	font-weight: 400;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa84c+0,ff7b0d+100;Orange+3D */
	background: #ffa84c; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffa84c 0%, #ff7b0d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffa84c 0%,#ff7b0d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */

    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #cf4914;
    box-shadow: 0 1px 1px #e67339;
    padding: 12px 15px;
}

.body-container {
    padding: 25px 0;
}

.body-container:after,
.body-container:before {
    content: " ";
    display: table;
    line-height: 0
}

.body-container:after {
    clear: both
}

@media (min-width:320px) and (max-width:999px) {
    .btn {
        width: 100%
    }
    .body-container {
        padding: 20px 10px
    }
}

.body-container .enroll-wrapper .en-left {
    min-height: 1px;
    padding-left: 8px;
    padding-right: 8px;
    float: left
}

@media only screen and (min-width:320px) {
    .body-container .enroll-wrapper .en-left {
        width: 100%
    }
}

@media only screen and (min-width:768px) {
    .body-container .enroll-wrapper .en-left {
        width: 70%
    }
}

@media only screen and (min-width:1200px) {
    .body-container .enroll-wrapper .en-left {
        width: 70%
    }
}

.body-container .enroll-wrapper .en-left .enroll-list {
    font-size: 12px
}

.body-container .enroll-wrapper .en-left .enroll-list input[type=text],
.body-container .enroll-wrapper .en-left .enroll-list input[type=time],
.body-container .enroll-wrapper .en-left .enroll-list input[type=url],
.body-container .enroll-wrapper .en-left .enroll-list input[type=week],
.body-container .enroll-wrapper .en-left .enroll-list input[type=date],
.body-container .enroll-wrapper .en-left .enroll-list input[type=datetime],
.body-container .enroll-wrapper .en-left .enroll-list input[type=datetime-local],
.body-container .enroll-wrapper .en-left .enroll-list input[type=email],
.body-container .enroll-wrapper .en-left .enroll-list input[type=month],
.body-container .enroll-wrapper .en-left .enroll-list input[type=number],
.body-container .enroll-wrapper .en-left .enroll-list input[type=password],
.body-container .enroll-wrapper .en-left .enroll-list input[type=search],
.body-container .enroll-wrapper .en-left .enroll-list input[type=tel],
.body-container .enroll-wrapper .en-left .enroll-list select,
.body-container .enroll-wrapper .en-left .enroll-list textarea {
    border: 1px solid #e0e0e0;
    font-size: 14px;
    padding: 13px 10px;
    border-radius: 2px;
    color: #333;
    outline: 0;
    width: 100%;
    vertical-align: middle;
    resize: none
}

.body-container .enroll-wrapper .en-left .enroll-list input[type=text]._input-error,
.body-container .enroll-wrapper .en-left .enroll-list input[type=time]._input-error,
.body-container .enroll-wrapper .en-left .enroll-list input[type=url]._input-error,
.body-container .enroll-wrapper .en-left .enroll-list input[type=week]._input-error,
.body-container .enroll-wrapper .en-left .enroll-list input[type=date]._input-error,
.body-container .enroll-wrapper .en-left .enroll-list input[type=datetime]._input-error,
.body-container .enroll-wrapper .en-left .enroll-list input[type=datetime-local]._input-error,
.body-container .enroll-wrapper .en-left .enroll-list input[type=email]._input-error,
.body-container .enroll-wrapper .en-left .enroll-list input[type=month]._input-error,
.body-container .enroll-wrapper .en-left .enroll-list input[type=number]._input-error,
.body-container .enroll-wrapper .en-left .enroll-list input[type=password]._input-error,
.body-container .enroll-wrapper .en-left .enroll-list input[type=search]._input-error,
.body-container .enroll-wrapper .en-left .enroll-list input[type=tel]._input-error,
.body-container .enroll-wrapper .en-left .enroll-list select._input-error,
.body-container .enroll-wrapper .en-left .enroll-list textarea._input-error {
    border: 1px solid red
}

.body-container .enroll-wrapper .en-left .enroll-list input[type=text]:focus,
.body-container .enroll-wrapper .en-left .enroll-list input[type=time]:focus,
.body-container .enroll-wrapper .en-left .enroll-list input[type=url]:focus,
.body-container .enroll-wrapper .en-left .enroll-list input[type=week]:focus,
.body-container .enroll-wrapper .en-left .enroll-list input[type=date]:focus,
.body-container .enroll-wrapper .en-left .enroll-list input[type=datetime]:focus,
.body-container .enroll-wrapper .en-left .enroll-list input[type=datetime-local]:focus,
.body-container .enroll-wrapper .en-left .enroll-list input[type=email]:focus,
.body-container .enroll-wrapper .en-left .enroll-list input[type=month]:focus,
.body-container .enroll-wrapper .en-left .enroll-list input[type=number]:focus,
.body-container .enroll-wrapper .en-left .enroll-list input[type=password]:focus,
.body-container .enroll-wrapper .en-left .enroll-list input[type=search]:focus,
.body-container .enroll-wrapper .en-left .enroll-list input[type=tel]:focus,
.body-container .enroll-wrapper .en-left .enroll-list select:focus,
.body-container .enroll-wrapper .en-left .enroll-list textarea:focus {
    border-color: rgba(0, 0, 0, .25);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 0, 0, .25)
}

.body-container .enroll-wrapper .en-left .enroll-list input[type=text]:focus::-webkit-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=time]:focus::-webkit-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=url]:focus::-webkit-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=week]:focus::-webkit-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=date]:focus::-webkit-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=datetime]:focus::-webkit-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=datetime-local]:focus::-webkit-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=email]:focus::-webkit-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=month]:focus::-webkit-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=number]:focus::-webkit-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=password]:focus::-webkit-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=search]:focus::-webkit-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=tel]:focus::-webkit-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list select:focus::-webkit-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list textarea:focus::-webkit-input-placeholder {
    opacity: .5
}

.body-container .enroll-wrapper .en-left .enroll-list input[type=text]:focus::-moz-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=time]:focus::-moz-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=url]:focus::-moz-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=week]:focus::-moz-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=date]:focus::-moz-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=datetime]:focus::-moz-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=datetime-local]:focus::-moz-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=email]:focus::-moz-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=month]:focus::-moz-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=number]:focus::-moz-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=password]:focus::-moz-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=search]:focus::-moz-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=tel]:focus::-moz-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list select:focus::-moz-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list textarea:focus::-moz-input-placeholder {
    opacity: .5
}

.body-container .enroll-wrapper .en-left .enroll-list input[type=text]:focus::-ms-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=time]:focus::-ms-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=url]:focus::-ms-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=week]:focus::-ms-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=date]:focus::-ms-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=datetime]:focus::-ms-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=datetime-local]:focus::-ms-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=email]:focus::-ms-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=month]:focus::-ms-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=number]:focus::-ms-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=password]:focus::-ms-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=search]:focus::-ms-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=tel]:focus::-ms-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list select:focus::-ms-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list textarea:focus::-ms-input-placeholder {
    opacity: .5
}

.body-container .enroll-wrapper .en-left .enroll-list input[type=text]:focus::-o-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=time]:focus::-o-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=url]:focus::-o-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=week]:focus::-o-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=date]:focus::-o-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=datetime]:focus::-o-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=datetime-local]:focus::-o-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=email]:focus::-o-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=month]:focus::-o-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=number]:focus::-o-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=password]:focus::-o-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=search]:focus::-o-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=tel]:focus::-o-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list select:focus::-o-input-placeholder,
.body-container .enroll-wrapper .en-left .enroll-list textarea:focus::-o-input-placeholder {
    opacity: .5
}

.body-container .enroll-wrapper .en-left .enroll-list input[type=text]:focus::placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=time]:focus::placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=url]:focus::placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=week]:focus::placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=date]:focus::placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=datetime]:focus::placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=datetime-local]:focus::placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=email]:focus::placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=month]:focus::placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=number]:focus::placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=password]:focus::placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=search]:focus::placeholder,
.body-container .enroll-wrapper .en-left .enroll-list input[type=tel]:focus::placeholder,
.body-container .enroll-wrapper .en-left .enroll-list select:focus::placeholder,
.body-container .enroll-wrapper .en-left .enroll-list textarea:focus::placeholder {
    opacity: .5
}

.body-container .enroll-wrapper .en-left .enroll-list select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: transparent
}

.body-container .enroll-wrapper .en-left .enroll-list select option:first-child,
.body-container .enroll-wrapper .en-left .enroll-list select._notchoosen {
    text-transform: uppercase;
    font-size: 10px;
    color: #999
}

.body-container .enroll-wrapper .en-left .enroll-list::-webkit-input-placeholder {
    text-transform: uppercase;
    font-size: 10px;
    color: #999
}

.body-container .enroll-wrapper .en-left .enroll-list:-moz-placeholder {
    text-transform: uppercase;
    font-size: 10px;
    color: #999
}

.body-container .enroll-wrapper .en-left .enroll-list::-moz-placeholder {
    text-transform: uppercase;
    font-size: 10px;
    color: #999
}

.body-container .enroll-wrapper .en-left .enroll-list:-ms-placeholder {
    text-transform: uppercase;
    font-size: 10px;
    color: #999
}

.body-container .enroll-wrapper .en-left .enroll-list::-o-placeholder {
    text-transform: uppercase;
    font-size: 10px;
    color: #999
}

.body-container .enroll-wrapper .en-left .enroll-list::placeholder {
    text-transform: uppercase;
    font-size: 10px;
    color: #999
}

.body-container .enroll-wrapper .en-left .enroll-list .frm-messages {
    display: none;
    text-align: left;
    clear: both;
    padding: 7px 10px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
    margin: 10px 0;
    font-size: 12px
}

.body-container .enroll-wrapper .en-left .enroll-list .frm-messages:after,
.body-container .enroll-wrapper .en-left .enroll-list .frm-messages:before {
    content: " ";
    display: table;
    line-height: 0
}

.body-container .enroll-wrapper .en-left .enroll-list .frm-messages:after {
    clear: both
}

.body-container .enroll-wrapper .en-left .enroll-list .frm-messages .__icon {
    display: none;
    width: 22px;
    height: 22px;
    margin-right: 12px
}

.body-container .enroll-wrapper .en-left .enroll-list .frm-messages .__text {
    display: inline-block;
    position: relative
}

.body-container .enroll-wrapper .en-left .enroll-list .frm-messages._error {
    color: #FFCDD2;
    box-shadow: none;
    border: 0
}

.body-container .enroll-wrapper .en-left .enroll-list .frm-messages._error svg {
    fill: #FFCDD2
}

.body-container .enroll-wrapper .en-left .enroll-list .frm-messages._success {
    color: #C8E6C9;
    box-shadow: none;
    border: 0
}

.body-container .enroll-wrapper .en-left .enroll-list .frm-messages._info,
.body-container .enroll-wrapper .en-left .enroll-list .frm-messages._warning {
    color: #FFF9C4
}

.body-container .enroll-wrapper .en-left .enroll-list .frm-messages._success svg {
    fill: #C8E6C9
}

.body-container .enroll-wrapper .en-left .enroll-list .frm-messages._info svg,
.body-container .enroll-wrapper .en-left .enroll-list .frm-messages._warning svg {
    fill: #FFF9C4
}

.body-container .enroll-wrapper .en-left .enroll-list input[type=radio],
.body-container .enroll-wrapper .en-left .enroll-list input[type=checkbox] {
    display: none
}

.body-container .enroll-wrapper .en-left .enroll-list input[type=radio]+label,
.body-container .enroll-wrapper .en-left .enroll-list input[type=checkbox]+label {
    position: relative;
    display: inline-block;
    padding-left: 24px;
    margin-right: 32px;
    cursor: pointer;
    line-height: 16px;
    transition: all .2s ease-in-out;
    margin-bottom: 10px
}

.body-container .enroll-wrapper .en-left .enroll-list input[type=radio]+label:after,
.body-container .enroll-wrapper .en-left .enroll-list input[type=radio]+label:before,
.body-container .enroll-wrapper .en-left .enroll-list input[type=checkbox]+label:after,
.body-container .enroll-wrapper .en-left .enroll-list input[type=checkbox]+label:before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 16px;
    height: 16px;
    text-align: center;
    color: #f5f5f5;
    font-family: Times;
    border-radius: 50%;
    transition: all .3s ease
}

.body-container .enroll-wrapper .en-left .enroll-list input[type=radio]+label:before {
    box-shadow: inset 0 0 0 1px #666565, inset 0 0 0 16px #FFF, inset 0 0 0 16px #385370
}

.body-container .enroll-wrapper .en-left .enroll-list input[type=radio]+label:hover {
    color: #385370
}

.body-container .enroll-wrapper .en-left .enroll-list input[type=radio]+label:hover:before {
    animation-duration: .5s;
    animation-name: change-size;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: inset 0 0 0 1px #385370, inset 0 0 0 16px #FFF, inset 0 0 0 16px #385370
}

.body-container .enroll-wrapper .en-left .enroll-list input[type=radio]:checked+label:hover {
    color: #333;
    cursor: default
}

.body-container .enroll-wrapper .en-left .enroll-list input[type=radio]:checked+label:before {
    animation-duration: .2s;
    animation-name: select-radio;
    animation-iteration-count: 1;
    animation-direction: Normal;
    box-shadow: inset 0 0 0 1px #385370, inset 0 0 0 3px #FFF, inset 0 0 0 16px #385370
}

.body-container .enroll-wrapper .en-left .enroll-list input[type=checkbox]+label:hover {
    color: #4279B3;
}

.body-container .enroll-wrapper .en-left .enroll-list input[type=checkbox]+label:before {
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: '';
    line-height: 17px;
    border-radius: 0;
    background-color: #FFF;
    color: #FFF;
    box-shadow: inset 0 0 0 1px #666565, inset 0 0 0 16px #FFF, inset 0 0 0 16px #4279B3;
    border-radius: 2px;
}

.body-container .enroll-wrapper .en-left .enroll-list input[type=checkbox]+label:hover:before {
    color: #FFF;
    animation-duration: .5s;
    animation-name: change-size;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: inset 0 0 0 1px #4279B3, inset 0 0 0 16px #FFF, inset 0 0 0 16px #4279B3
}

.body-container .enroll-wrapper .en-left .enroll-list input[type=checkbox]:checked+label:before {
    background-color: #C3C3C3;
    color: #FFF;
    animation-duration: .2s;
    animation-name: select-checkbox;
    animation-iteration-count: 1;
    animation-direction: Normal;
    box-shadow: inset 0 0 0 1px #4279B3, inset 0 0 0 0 #FFF, inset 0 0 0 16px #4C98EA;
    content: '✓';
	font-size: 18px;
    font-weight: bold;

}

/* Code for Tick
.body-container .enroll-wrapper .en-left .enroll-list input[type=checkbox]+label .__tick {
    color: fff;
    position: absolute;

}
.body-container .enroll-wrapper .en-left .enroll-list input[type=checkbox]:checked+label .__tick {
    color: red;
}
End Code for Tick */

.body-container .enroll-wrapper .en-left .enroll-list input[type=checkbox]:checked+label .delete_mumin {
	color: #e74e4e;
	cursor: pointer;
}

.body-container .enroll-wrapper .en-left .enroll-list input[type=checkbox]:checked+label .delete_muhafiz {
	color: #e74e4e;
	cursor: pointer;
}

.body-container .enroll-wrapper .en-left .enroll-list li {
    padding: 25px 0;
    position: relative;
   	border-bottom: 1px solid #e0e0e0;
}

.body-container .enroll-wrapper .en-left .enroll-list li:last-child {
	border-bottom: none;
}

.body-container .enroll-wrapper .en-left .enroll-list li input[type=radio]+label::after,
.body-container .enroll-wrapper .en-left .enroll-list li input[type=radio]+label::before,
.body-container .enroll-wrapper .en-left .enroll-list li input[type=checkbox]+label::after,
.body-container .enroll-wrapper .en-left .enroll-list li input[type=checkbox]+label::before {
    top: 10px
}

.body-container .enroll-wrapper .en-left .enroll-list li input[type=radio]+label,
.body-container .enroll-wrapper .en-left .enroll-list li input[type=checkbox]+label {
    padding-left: 50px;
    position: relative;
}

.body-container .enroll-wrapper .en-left .enroll-list li:first-child {
    box-shadow: initial;
    padding-top: 15px;
}

.body-container .enroll-wrapper .en-left .enroll-list li img {
    float: right;
    width: 50px;
    margin-right: 70px;
    position: absolute;
    top: 25px;
    right: 0
}

@media (min-width:320px) and (max-width:999px) {
    .body-container .enroll-wrapper .en-left .enroll-list li input[type=radio]+label,
    .body-container .enroll-wrapper .en-left .enroll-list li input[type=checkbox]+label {
        padding-left: 30px
    }
    .body-container .enroll-wrapper .en-left .enroll-list li img {
        top: 11px
    }
}

.body-container .enroll-wrapper .en-left .enroll-list .__enhead {
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
}

.body-container .enroll-wrapper .en-left .__action {
    margin-top: 50px
}

.body-container .enroll-wrapper .en-left .__action .btn {
    text-align: left;
    padding: 15px 18px
}

@media (min-width:320px) and (max-width:999px) {
    .body-container .enroll-wrapper .en-left .__action {
        margin-top: 20px;
        margin-bottom: 30px
    }
}

.body-container .enroll-wrapper .en-right {
    min-height: 1px;
    padding-left: 8px;
    padding-right: 8px;
    float: left
}

@media only screen and (min-width:320px) {
    .body-container .enroll-wrapper .en-right {
        width: 100%
    }
}

@media only screen and (min-width:768px) {
    .body-container .enroll-wrapper .en-right {
        width: 30%
    }
}

@media only screen and (min-width:1200px) {
    .body-container .enroll-wrapper .en-right {
        width: 30%
    }
}

.body-container .enroll-wrapper .en-right .en-learn-more {
    background: #e8f7fe;
    border-radius: 5px;
    border: 1px solid #cfe7f0;
    text-align: center
}

.body-container .enroll-wrapper .en-right .en-learn-more .txt-table {
    width: 100%;
    display: table;
    height: 300px
}

.body-container .enroll-wrapper .en-right .en-learn-more .txt-table span {
    vertical-align: middle;
    display: table-cell;
    line-height: 18px;
    font-size: 12px;
    color: #9dbdd6
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list {
    font-size: 12px
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list:after,
.body-container .select-muhaffix-wrapper .select-muhaffix-list:before {
    content: " ";
    display: table;
    line-height: 0
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list:after {
    clear: both
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list h2 {
    font-size: 18px;
    color: #07294d;
    margin-bottom: 40px
}

.body-container .select-muhaffix-wrapper h2 {
		width: 100%;
		text-align: center;
		margin-bottom: 15px;
		margin-top: 0px;
		font-size: 18px;
		font-weight: bold;

	}

@media (min-width: 320px) and (max-width: 768px) {
	.body-container .select-muhaffix-wrapper h2 {
		width: 100%;
		text-align: center;
		margin-bottom: 15px;
		margin-top: -10px;
		font-size: 18px;
		font-weight: bold;

	}

	.body-container .select-muhaffix-wrapper .select-muhaffix-list > ul.row {
		/*margin-left: 0;
		margin-right: 0;*/
	}
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=text],
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=time],
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=url],
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=week],
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=date],
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=datetime],
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=datetime-local],
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=email],
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=month],
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=number],
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=password],
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=search],
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=tel],
.body-container .select-muhaffix-wrapper .select-muhaffix-list select,
.body-container .select-muhaffix-wrapper .select-muhaffix-list textarea {
    border: 1px solid #e0e0e0;
    font-size: 14px;
    padding: 13px 10px;
    border-radius: 2px;
    color: #333;
    outline: 0;
    width: 100%;
    vertical-align: middle;
    resize: none
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=text]._input-error,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=time]._input-error,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=url]._input-error,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=week]._input-error,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=date]._input-error,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=datetime]._input-error,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=datetime-local]._input-error,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=email]._input-error,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=month]._input-error,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=number]._input-error,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=password]._input-error,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=search]._input-error,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=tel]._input-error,
.body-container .select-muhaffix-wrapper .select-muhaffix-list select._input-error,
.body-container .select-muhaffix-wrapper .select-muhaffix-list textarea._input-error {
    border: 1px solid red
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=text]:focus,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=time]:focus,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=url]:focus,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=week]:focus,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=date]:focus,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=datetime]:focus,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=datetime-local]:focus,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=email]:focus,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=month]:focus,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=number]:focus,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=password]:focus,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=search]:focus,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=tel]:focus,
.body-container .select-muhaffix-wrapper .select-muhaffix-list select:focus,
.body-container .select-muhaffix-wrapper .select-muhaffix-list textarea:focus {
    border-color: rgba(0, 0, 0, .25);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 0, 0, .25)
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=text]:focus::-webkit-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=time]:focus::-webkit-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=url]:focus::-webkit-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=week]:focus::-webkit-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=date]:focus::-webkit-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=datetime]:focus::-webkit-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=datetime-local]:focus::-webkit-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=email]:focus::-webkit-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=month]:focus::-webkit-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=number]:focus::-webkit-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=password]:focus::-webkit-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=search]:focus::-webkit-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=tel]:focus::-webkit-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list select:focus::-webkit-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list textarea:focus::-webkit-input-placeholder {
    opacity: .5
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=text]:focus::-moz-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=time]:focus::-moz-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=url]:focus::-moz-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=week]:focus::-moz-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=date]:focus::-moz-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=datetime]:focus::-moz-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=datetime-local]:focus::-moz-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=email]:focus::-moz-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=month]:focus::-moz-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=number]:focus::-moz-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=password]:focus::-moz-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=search]:focus::-moz-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=tel]:focus::-moz-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list select:focus::-moz-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list textarea:focus::-moz-input-placeholder {
    opacity: .5
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=text]:focus::-ms-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=time]:focus::-ms-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=url]:focus::-ms-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=week]:focus::-ms-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=date]:focus::-ms-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=datetime]:focus::-ms-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=datetime-local]:focus::-ms-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=email]:focus::-ms-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=month]:focus::-ms-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=number]:focus::-ms-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=password]:focus::-ms-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=search]:focus::-ms-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=tel]:focus::-ms-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list select:focus::-ms-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list textarea:focus::-ms-input-placeholder {
    opacity: .5
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=text]:focus::-o-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=time]:focus::-o-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=url]:focus::-o-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=week]:focus::-o-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=date]:focus::-o-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=datetime]:focus::-o-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=datetime-local]:focus::-o-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=email]:focus::-o-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=month]:focus::-o-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=number]:focus::-o-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=password]:focus::-o-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=search]:focus::-o-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=tel]:focus::-o-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list select:focus::-o-input-placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list textarea:focus::-o-input-placeholder {
    opacity: .5
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=text]:focus::placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=time]:focus::placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=url]:focus::placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=week]:focus::placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=date]:focus::placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=datetime]:focus::placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=datetime-local]:focus::placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=email]:focus::placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=month]:focus::placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=number]:focus::placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=password]:focus::placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=search]:focus::placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=tel]:focus::placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list select:focus::placeholder,
.body-container .select-muhaffix-wrapper .select-muhaffix-list textarea:focus::placeholder {
    opacity: .5
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: transparent
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list select option:first-child,
.body-container .select-muhaffix-wrapper .select-muhaffix-list select._notchoosen {
    text-transform: uppercase;
    font-size: 10px;
    color: #999
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list::-webkit-input-placeholder {
    text-transform: uppercase;
    font-size: 10px;
    color: #999
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list:-moz-placeholder {
    text-transform: uppercase;
    font-size: 10px;
    color: #999
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list::-moz-placeholder {
    text-transform: uppercase;
    font-size: 10px;
    color: #999
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list:-ms-placeholder {
    text-transform: uppercase;
    font-size: 10px;
    color: #999
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list::-o-placeholder {
    text-transform: uppercase;
    font-size: 10px;
    color: #999
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list::placeholder {
    text-transform: uppercase;
    font-size: 10px;
    color: #999
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list .frm-messages {
    display: none;
    text-align: left;
    clear: both;
    padding: 7px 10px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
    margin: 10px 0;
    font-size: 12px
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list .frm-messages:after,
.body-container .select-muhaffix-wrapper .select-muhaffix-list .frm-messages:before {
    content: " ";
    display: table;
    line-height: 0
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list .frm-messages:after {
    clear: both
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list .frm-messages .__icon {
    display: none;
    width: 22px;
    height: 22px;
    margin-right: 12px
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list .frm-messages .__text {
    display: inline-block;
    position: relative
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list .frm-messages._error {
    color: #FFCDD2;
    box-shadow: none;
    border: 0
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list .frm-messages._error svg {
    fill: #FFCDD2
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list .frm-messages._success {
    color: #C8E6C9;
    box-shadow: none;
    border: 0
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list .frm-messages._info,
.body-container .select-muhaffix-wrapper .select-muhaffix-list .frm-messages._warning {
    color: #FFF9C4
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list .frm-messages._success svg {
    fill: #C8E6C9
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list .frm-messages._info svg,
.body-container .select-muhaffix-wrapper .select-muhaffix-list .frm-messages._warning svg {
    fill: #FFF9C4
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=radio],
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=checkbox] {
    display: none
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=radio]+label,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=checkbox]+label {
    position: relative;
    display: inline-block;
    padding-left: 24px;
    /*margin-right: 32px;*/
    cursor: pointer;
    line-height: 16px;
    transition: all .2s ease-in-out;
    margin-bottom: 10px
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=radio]+label:after,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=radio]+label:before,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=checkbox]+label:after,
.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=checkbox]+label:before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 16px;
    height: 16px;
    text-align: center;
    color: #f5f5f5;
    font-family: Times;
    border-radius: 50%;
    transition: all .3s ease
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=radio]+label:before {
    box-shadow: inset 0 0 0 1px #666565, inset 0 0 0 16px #FFF, inset 0 0 0 16px #385370
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=radio]+label:hover {
    color: #385370
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=radio]+label:hover:before {
    animation-duration: .5s;
    animation-name: change-size;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: inset 0 0 0 1px #385370, inset 0 0 0 16px #FFF, inset 0 0 0 16px #385370
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=radio]:checked+label:hover {
    color: #333;
    cursor: default
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=radio]:checked+label:before {
    animation-duration: .2s;
    animation-name: select-radio;
    animation-iteration-count: 1;
    animation-direction: Normal;
    box-shadow: inset 0 0 0 1px #385370, inset 0 0 0 3px #FFF, inset 0 0 0 16px #385370
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=checkbox]+label:hover {
    color: #385370
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=checkbox]+label:before {
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: '';
    line-height: 17px;
    border-radius: 0;
    background-color: #FFF;
    color: #FFF;
    box-shadow: inset 0 0 0 1px #666565, inset 0 0 0 16px #FFF, inset 0 0 0 16px #385370
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=checkbox]+label:hover:before {
    color: #FFF;
    animation-duration: .5s;
    animation-name: change-size;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: inset 0 0 0 1px #385370, inset 0 0 0 16px #FFF, inset 0 0 0 16px #385370
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list input[type=checkbox]:checked+label:before {
    background-color: #C3C3C3;
    color: #FFF;
    animation-duration: .2s;
    animation-name: select-checkbox;
    animation-iteration-count: 1;
    animation-direction: Normal;
    box-shadow: inset 0 0 0 1px #385370, inset 0 0 0 0 #FFF, inset 0 0 0 16px #385370
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list li {
    min-height: 1px;
    float: left;
    padding: 15px;
    color: #337ab7
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .body-container .select-muhaffix-wrapper .select-muhaffix-list li {
        /*width: 100%;*/
        padding: 10px 0 0 0;
        margin: 0;
        border-bottom: 1px solid #ddd;
    }
}

@media only screen and (min-width:768px) {
    .body-container .select-muhaffix-wrapper .select-muhaffix-list li {
        /*width: 25%*/
    }
}

@media only screen and (min-width:1200px) {
    .body-container .select-muhaffix-wrapper .select-muhaffix-list li {
        /*width: 25%*/
    }
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list li input[type=radio]+label::after,
.body-container .select-muhaffix-wrapper .select-muhaffix-list li input[type=radio]+label::before,
.body-container .select-muhaffix-wrapper .select-muhaffix-list li input[type=checkbox]+label::after,
.body-container .select-muhaffix-wrapper .select-muhaffix-list li input[type=checkbox]+label::before {
    top: 10px
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list li input[type=radio]+label,
.body-container .select-muhaffix-wrapper .select-muhaffix-list li input[type=checkbox]+label {
    padding-left: 30px;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.body-container .select-muhaffix-wrapper .select-muhaffix-list .__enhead {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    color: #07294d;
    height: 16px;
    overflow: hidden;
}

.body-container .select-muhaffix-wrapper .__action {
    /*margin-top: 70px;*/
   	margin-bottom: 10px;
    text-align: left;
}

.body-container .select-muhaffix-wrapper .__action:after,
.body-container .select-muhaffix-wrapper .__action:before {
    content: " ";
    display: table;
    line-height: 0
}

.body-container .select-muhaffix-wrapper .__action:after {
    clear: both
}

.body-container .select-muhaffix-wrapper .__action .pagination {
    color: #337ab7;
    float: left
}

.body-container .select-muhaffix-wrapper .__action .pagination .__lbl {
    display: inline-block;
    margin-right: 20px
}

.body-container .select-muhaffix-wrapper .__action .pagination a {
    font-size: 12px;
    color: #337ab7;
    width: 35px;
    height: 35px;
    display: inline-block;
    text-align: center;
    padding-top: 12px
}

.body-container .hifz-tasmee-details-wrapper .htd-section .pending-request:after,
.body-container .hifz-tasmee-details-wrapper .htd-section .pending-request:before,
.body-container .hifz-tasmee-details-wrapper .htd-section:after,
.body-container .hifz-tasmee-details-wrapper .htd-section:before {
    display: table;
    content: " ";
    line-height: 0
}

.body-container .select-muhaffix-wrapper .__action .pagination a._active {
    background: #3485cc;
    border-radius: 50%;
    font-weight: 600;
    color: #fff
}

@media (min-width:320px) and (max-width:999px) {
    .body-container .select-muhaffix-wrapper .select-muhaffix-list li input[type=radio]+label,
    .body-container .select-muhaffix-wrapper .select-muhaffix-list li input[type=checkbox]+label {
        padding-left: 30px
    }

    .body-container .select-muhaffix-wrapper .select-muhaffix-list .__enhead {
    	height: auto;
    	overflow: auto;
    }
    .body-container .select-muhaffix-wrapper .__action .pagination {
        margin-bottom: 20px
    }
    .body-container .select-muhaffix-wrapper .__action {
        margin-top: 20px;
        margin-bottom: 30px
    }
}

.body-container .hifz-tasmee-details-wrapper .htd-section {
    /*margin-top: 80px*/
}

.body-container .hifz-tasmee-details-wrapper .htd-section:after {
    clear: both
}

.body-container .hifz-tasmee-details-wrapper .htd-section:first-child {
    margin-top: 0
}

.body-container .hifz-tasmee-details-wrapper .htd-section h2 {
    font-size: 18px;
    font-weight: 600;
    color: #07294d;
    margin-bottom: 20px
}

.body-container .hifz-tasmee-details-wrapper .htd-section .pending-request {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    min-width: 300px;
    margin-bottom: 10px;

}

.body-container .hifz-tasmee-details-wrapper .htd-section .pending-request:after {
    clear: both
}

@media (min-width:320px) and (max-width:999px) {
    .body-container .hifz-tasmee-details-wrapper .htd-section {
        /*margin-top: 40px*/
    }
    .body-container .hifz-tasmee-details-wrapper .htd-section h2 {
        margin-bottom: 10px;
        font-size: 16px;
    }
    .body-container .hifz-tasmee-details-wrapper .htd-section .pending-request {
        width: 100%;
        min-width: inherit
    }
}

.body-container .hifz-tasmee-details-wrapper .htd-section .pending-request .__text {
    color: #559bd2;
    font-size: 14px;
    float: left
}

.body-container .hifz-tasmee-details-wrapper .htd-section .pending-request .__text .__prhead {
    display: block;
    margin-bottom: 5px;
    color: #07294d
}

.body-container .hifz-tasmee-details-wrapper .htd-section .pending-request .__action {
    position: absolute;
    right: 10px;
    top: 10px
}

.body-container .hifz-tasmee-details-wrapper .htd-section .pending-request .__action a {
    display: inline-block;
    margin-top: 6px;
    width: 40px;
    height: 55px;
    text-align: center
}

.body-container .hifz-tasmee-details-wrapper .htd-section .pending-request .__action a img {
    width: 100%;
    display: block
}

@media (min-width:320px) and (max-width:999px) {
    .body-container .hifz-tasmee-details-wrapper .htd-section .pending-request .__action a {
        width: 30px;
        margin-top: 10px
    }
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul {
    border-bottom: 1px solid #ccc
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul:after,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul:before {
    content: " ";
    display: table;
    line-height: 0
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul:after {
    clear: both
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li {
    display: inline-block;
    font-size: 12px;
    color: #07294d;
    padding: 10px 8px;
    min-height: 1px;
    float: left
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=text],
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=time],
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=url],
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=week],
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=date],
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=datetime],
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=datetime-local],
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=email],
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=month],
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=number],
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=password],
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=search],
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=tel],
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li select,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li textarea {
    border: 1px solid #e0e0e0;
    font-size: 14px;
    padding: 13px 10px;
    border-radius: 2px;
    color: #333;
    outline: 0;
    width: 100%;
    vertical-align: middle;
    resize: none
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=text]._input-error,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=time]._input-error,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=url]._input-error,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=week]._input-error,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=date]._input-error,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=datetime]._input-error,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=datetime-local]._input-error,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=email]._input-error,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=month]._input-error,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=number]._input-error,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=password]._input-error,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=search]._input-error,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=tel]._input-error,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li select._input-error,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li textarea._input-error {
    border: 1px solid red
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=text]:focus,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=time]:focus,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=url]:focus,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=week]:focus,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=date]:focus,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=datetime]:focus,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=datetime-local]:focus,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=email]:focus,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=month]:focus,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=number]:focus,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=password]:focus,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=search]:focus,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=tel]:focus,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li select:focus,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li textarea:focus {
    border-color: rgba(0, 0, 0, .25);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 0, 0, .25)
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=text]:focus::-webkit-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=time]:focus::-webkit-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=url]:focus::-webkit-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=week]:focus::-webkit-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=date]:focus::-webkit-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=datetime]:focus::-webkit-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=datetime-local]:focus::-webkit-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=email]:focus::-webkit-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=month]:focus::-webkit-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=number]:focus::-webkit-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=password]:focus::-webkit-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=search]:focus::-webkit-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=tel]:focus::-webkit-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li select:focus::-webkit-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li textarea:focus::-webkit-input-placeholder {
    opacity: .5
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=text]:focus::-moz-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=time]:focus::-moz-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=url]:focus::-moz-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=week]:focus::-moz-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=date]:focus::-moz-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=datetime]:focus::-moz-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=datetime-local]:focus::-moz-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=email]:focus::-moz-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=month]:focus::-moz-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=number]:focus::-moz-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=password]:focus::-moz-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=search]:focus::-moz-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=tel]:focus::-moz-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li select:focus::-moz-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li textarea:focus::-moz-input-placeholder {
    opacity: .5
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=text]:focus::-ms-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=time]:focus::-ms-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=url]:focus::-ms-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=week]:focus::-ms-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=date]:focus::-ms-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=datetime]:focus::-ms-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=datetime-local]:focus::-ms-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=email]:focus::-ms-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=month]:focus::-ms-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=number]:focus::-ms-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=password]:focus::-ms-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=search]:focus::-ms-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=tel]:focus::-ms-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li select:focus::-ms-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li textarea:focus::-ms-input-placeholder {
    opacity: .5
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=text]:focus::-o-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=time]:focus::-o-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=url]:focus::-o-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=week]:focus::-o-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=date]:focus::-o-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=datetime]:focus::-o-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=datetime-local]:focus::-o-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=email]:focus::-o-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=month]:focus::-o-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=number]:focus::-o-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=password]:focus::-o-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=search]:focus::-o-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=tel]:focus::-o-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li select:focus::-o-input-placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li textarea:focus::-o-input-placeholder {
    opacity: .5
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=text]:focus::placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=time]:focus::placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=url]:focus::placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=week]:focus::placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=date]:focus::placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=datetime]:focus::placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=datetime-local]:focus::placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=email]:focus::placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=month]:focus::placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=number]:focus::placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=password]:focus::placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=search]:focus::placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=tel]:focus::placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li select:focus::placeholder,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li textarea:focus::placeholder {
    opacity: .5
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: transparent
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li select option:first-child,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li select._notchoosen {
    text-transform: uppercase;
    font-size: 10px;
    color: #999
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li::-webkit-input-placeholder {
    text-transform: uppercase;
    font-size: 10px;
    color: #999
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li:-moz-placeholder {
    text-transform: uppercase;
    font-size: 10px;
    color: #999
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li::-moz-placeholder {
    text-transform: uppercase;
    font-size: 10px;
    color: #999
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li:-ms-placeholder {
    text-transform: uppercase;
    font-size: 10px;
    color: #999
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li::-o-placeholder {
    text-transform: uppercase;
    font-size: 10px;
    color: #999
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li::placeholder {
    text-transform: uppercase;
    font-size: 10px;
    color: #999
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li .frm-messages {
    display: none;
    text-align: left;
    clear: both;
    padding: 7px 10px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
    margin: 10px 0;
    font-size: 12px
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li .frm-messages:after,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li .frm-messages:before {
    content: " ";
    display: table;
    line-height: 0
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li .frm-messages:after {
    clear: both
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li .frm-messages .__icon {
    display: none;
    width: 22px;
    height: 22px;
    margin-right: 12px
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li .frm-messages .__text {
    display: inline-block;
    position: relative
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li .frm-messages._error {
    color: #FFCDD2;
    box-shadow: none;
    border: 0
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li .frm-messages._error svg {
    fill: #FFCDD2
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li .frm-messages._success {
    color: #C8E6C9;
    box-shadow: none;
    border: 0
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li .frm-messages._info,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li .frm-messages._warning {
    color: #FFF9C4
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li .frm-messages._success svg {
    fill: #C8E6C9
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li .frm-messages._info svg,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li .frm-messages._warning svg {
    fill: #FFF9C4
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=radio],
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=checkbox] {
    display: none
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=radio]+label,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=checkbox]+label {
    position: relative;
    display: inline-block;
    padding-left: 24px;
    cursor: pointer;
    line-height: 16px;
    transition: all .2s ease-in-out;
    margin-bottom: 10px
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li._ayat select,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li._name {
    min-height: 1px;
    padding-left: 8px;
    padding-right: 8px;
    float: left
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=radio]+label:after,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=radio]+label:before,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=checkbox]+label:after,
.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=checkbox]+label:before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 16px;
    height: 16px;
    text-align: center;
    color: #f5f5f5;
    font-family: Times;
    border-radius: 50%;
    transition: all .3s ease
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=radio]+label:before {
    box-shadow: inset 0 0 0 1px #666565, inset 0 0 0 16px #FFF, inset 0 0 0 16px #385370
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=radio]+label:hover {
    color: #385370
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=radio]+label:hover:before {
    animation-duration: .5s;
    animation-name: change-size;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: inset 0 0 0 1px #385370, inset 0 0 0 16px #FFF, inset 0 0 0 16px #385370
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=radio]:checked+label:hover {
    color: #333;
    cursor: default
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=radio]:checked+label:before {
    animation-duration: .2s;
    animation-name: select-radio;
    animation-iteration-count: 1;
    animation-direction: Normal;
    box-shadow: inset 0 0 0 1px #385370, inset 0 0 0 3px #FFF, inset 0 0 0 16px #385370
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=checkbox]+label:hover {
    color: #385370
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=checkbox]+label:before {
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: '';
    line-height: 17px;
    border-radius: 0;
    background-color: #FFF;
    color: #FFF;
    box-shadow: inset 0 0 0 1px #666565, inset 0 0 0 16px #FFF, inset 0 0 0 16px #385370
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=checkbox]+label:hover:before {
    color: #FFF;
    animation-duration: .5s;
    animation-name: change-size;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: inset 0 0 0 1px #385370, inset 0 0 0 16px #FFF, inset 0 0 0 16px #385370
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li input[type=checkbox]:checked+label:before {
    background-color: #C3C3C3;
    color: #FFF;
    animation-duration: .2s;
    animation-name: select-checkbox;
    animation-iteration-count: 1;
    animation-direction: Normal;
    box-shadow: inset 0 0 0 1px #385370, inset 0 0 0 0 #FFF, inset 0 0 0 16px #385370
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li select {
    color: #07294d
}

@media only screen and (min-width:320px) {
    .body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li {
        width: 100%
    }
}

@media only screen and (min-width:768px) {
    .body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li {
        width: 17%
    }
}

@media only screen and (min-width:1200px) {
    .body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li {
        width: 17%
    }
}

@media only screen and (min-width:320px) {
    .body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li._name {
        width: 100%
    }
}

@media only screen and (min-width:768px) {
    .body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li._name {
        width: 30%
    }
}

@media only screen and (min-width:1200px) {
    .body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li._name {
        width: 30%
    }
    .body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li._ayat select {
        width: 40%
    }
}

@media only screen and (min-width:320px) {
    .body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li._ayat select {
        width: 40%
    }
}

@media only screen and (min-width:768px) {
    .body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li._ayat select {
        width: 40%
    }
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li._ayat select:first-child {
    margin-right: 15px
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li._action a {
    color: #f56e6e;
    padding: 16px 0;
    display: inline-block;
    text-align: right;
    width: 100%
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li._action a span {
    display: inline-block;
    padding-right: 10px
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul._htd-table-head {
    background: #f2f2f2;
    text-transform: uppercase
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul._htd-table-head li {
    font-size: 14px
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table .__actions {
    margin-top: 40px;
    text-align: right
}

.body-container .hifz-tasmee-details-wrapper .htd-section .htd-table .__actions .__add-brothers {
    float: left;
    color: #ff7e3b;
    font-size: 12px
}

@media (min-width:320px) and (max-width:999px) {
    .body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li._ayat,
    .body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li._juz,
    .body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li._name,
    .body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li._surah {
        position: relative;
        padding-left: 50%
    }
    .body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li._ayat:before,
    .body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li._juz:before,
    .body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li._name:before,
    .body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li._surah:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap
    }
    .body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li._name:before {
        content: "NAME:"
    }
    .body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li._ayat:before {
        content: "JUZ:"
    }
    .body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li._juz:before {
        content: "AYAT:"
    }
    .body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul li._surah:before {
        content: "SURAH:"
    }
    .body-container .hifz-tasmee-details-wrapper .htd-section .htd-table ul._htd-table-head {
        display: none
    }
    .body-container .hifz-tasmee-details-wrapper .htd-section .htd-table .__actions .__add-brothers {
        margin-bottom: 20px
    }
}

.qrn-nav-container {
	background: #f7f7f7;
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
}
.qrn-nav-wrapper a{
	text-align: center;
	margin: 0 10px;
	display: inline-block;
}

.qrn-nav-wrapper a span {
	font-size: 12px;
	color: #999;
	text-align: center;
	display: block;
	margin-top: 5px;
}

.qrn-nav-wrapper a:hover span {
	color: inherit;
}

@media (min-width:320px) and (max-width:768px) {
	.qrn-nav-wrapper a{
		text-align: left;
		width: 100%;
		margin: 0;
		border-bottom: 1px solid #ccc;
		padding-bottom: 10px;
	}

	.qrn-nav-wrapper a:last-child{
		border-bottom: none;
	}

	.qrn-nav-wrapper a i {
		font-size: 1.5em;
		width: 36px;
	}

	.qrn-nav-wrapper a span {
		display: inline-block;
		margin-left: 10px;
		font-size: 14px;
	}

	.qrn-nav-container .__separator {
		display: none;
	}


}

@media (min-width: 769px) {
	.qrn-nav-container .__separator {
		display: inline-block;
	    width: 1px;
	    height: 40px;

	    background: #ddd;
	    margin: 0 15px;
	}
}


.body-container .__message._note {
	color: #A97D33;
    background-color: #fcf8e3;
    border: 1px solid transparent;
    border-color: #d7c9ab;
    padding: 15px;
    margin-bottom: 15px;
    /*margin-top: -20px;*/

    font-size: 13px;
    line-height: 19px;

}

@media (min-width:320px) and (max-width:768px) {
	.body-container .__message._note {
		margin-top: 0;
	}
}

.body-container .qrn-tabs {
	display: block;
	height: 50px;
	box-shadow: 0px 1px #ddd;
	margin-bottom: 25px;
}

.body-container .qrn-tabs li {
	display: inline-block;
	line-height: 48px;
	font-size: 14px;
	text-transform: uppercase;
	color: #999;
	padding: 0 25px;
	cursor: pointer;

}



.body-container .qrn-tabs li:hover {
	font-weight: 700;
	color: #222;

}

.body-container .qrn-tabs li._active {
	border-bottom: 2px solid #337ab7;
	cursor: default;
	color: #222;
	font-weight: 700;
}

@media (min-width:320px) and (max-width:768px) {
	.body-container .qrn-tabs li {
		padding: 0 2%;
		width: 46%;
		text-align: center;
	}
}


.__last-entry {
    font-size: 14px;
    color: #CA9A4F;
}

.__last-entry span {
	color: inherit;
}

.__last-entry span.res_surah {
	font-family: 'al-kanz';
	letter-spacing: 0.5px;
}

.qrn-tasmee-col-margin {
	margin: 5px 0;
}

.al-kanz {
	font-family: 'al-kanz'!important;
	letter-spacing: 0.5px;

}

.al-kanz * {
	font-family: inherit!important;
}


.qrn-reg-header {
    /*width: 100%;*/
    /*background: #F9D293;*/
    font-size: 12px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    display: inline-block;
    border-radius: 16px;
}

@media (min-width: 320px) and (max-width: 768px) {

	.qrn-reg-wrapper {
		margin-top: 10px;
		width: 100%;
		/*padding: 0 15px;*/
	}


	.qrn-reg-header {
	    /*width: 100%;
	    background: #F3C478;
	    font-size: 12px;
	    padding: 5px 0;
	    border: none;
	    display: block;*/
	}
}

.pending-request-wrapper {
	margin-bottom: 30px;
}


h2 {
	background: #eee;
    padding: 10px;
}

h2 .tasmee-date-now {
	font-size: 14px;
	opacity: 0.5;
}

.last-entry-table td {
	font-size: 14px;
}

/* QRN INTRO */
.qrn-intro p {
	font-size: 13px;
	line-height: 21px;
	color: #444;
	margin-bottom: 25px;
}


/*Bootstrap Overrides*/

input.form-control {
	border-radius: 0;
}

table.dataTable thead > tr > th {
    padding-right: 20px;
    background: #f2f2f2;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}


