@font-face
{
  font-family: lsarabic;
  src: url('../fonts/AlFatemi14241.ttf');
}
.lsd, .lsd p {
  font-family: lsarabic;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 15px;
  font-weight: 500;
}
.title-header{
  font-size: 18px;
  color: #003;
}
.sub-title{
  padding-left: 30px !important;
}
.account-block {
  padding: 20px 60px;
  margin-top: 0px;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{
  margin-left: 0px;
  margin-top: 2px;
}
.radio label, .checkbox label{
  padding-left: 5px;
}
.note{
  text-align: center;
  color: #31708f;
  padding-top: 20px;
  font-size: 12px;
}
.large-fonts{
  font-size: 24px;
}
.badge-lg{
  font-size: 24px;
  margin-right: 10px;
}
input[type="date"] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: whitesmoke;
  border: 2px solid #c5c5c5;
  font-size: 12px;
  min-height: 40px;
  padding: 10px 9px 9px 9px;
  width: 100%;
}
input[type="date"]:hover {
  border: 2px solid #a6a6a6;
}
.bottom-margin{
  margin-bottom: 10px;
}
h2:after {
  background-color: #ea6645;
}
.panel-info {
  border-color: #012951;
}
.panel-info > .panel-heading {
  color: #ffffff;
  background-color: #012951;
  border-color: #012951;
}
blockquote article header::first-letter {
  font-size: 120%;
  font-weight: 900;
}
h3,h4,h5,h6{
  margin-bottom: 15px;
  margin-top: 15px;
}
.tooltip-inner{
  background-color: #a94442;
}
p{
  color: #000;
}
.navigation-wrapper .primary-navigation-wrapper header .navbar-brand img{
  max-height: 85px;
  margin-top: -25px;
  object-fit: contain;
}

p.form-control-static {
    font-weight: 500;
}
.role{
  text-align: center;
  display: block;
  padding: 15px;
  font-size: 40px;
}
.role i {
  font-size: 35px;
  color: #ea6645;
}
.navigation-wrapper .primary-navigation-wrapper{
  padding: 15px 0px;
}
.page-sub-page .wrapper .primary-navigation-wrapper .navbar-brand:after, .page-homepage-courses .wrapper .primary-navigation-wrapper .navbar-brand:after, .page-homepage-events .wrapper .primary-navigation-wrapper .navbar-brand:after{
  top: 65px;
}
.page-sub-page .wrapper .primary-navigation-wrapper .navbar-brand:before, .page-homepage-courses .wrapper .primary-navigation-wrapper .navbar-brand:before, .page-homepage-events .wrapper .primary-navigation-wrapper .navbar-brand:before{
  height: 95px;
}
.small-margin{
  margin: 2px;
}
#img-wrapper .text {
position:relative;
bottom:50px;
left:30px;
visibility:hidden;
font-size: 18px;
color: #fff;
text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); 
}

#img-wrapper:hover .text {
visibility:visible;
}
.selectize-control.multi .selectize-input > div{
  color: #ffffff;
  background-color: #1F1F5C;
  border-radius: 4px;
}
.selectize-control .selectize-input{
  min-height: 40px;
  height: auto;
}

.tag-line{
  color: #fff;
}
h1.title{
  margin-bottom: 0px !important;
}
.tag-author{
  color: #999999;
}
#homepage-carousel .homepage-carousel-wrapper .slider-content h1{
  margin-bottom: 20px;
}
.selectize-control{
  height: auto;
  min-height: 40px;
}