@font-face {
    font-family: lsarabic;
    src: url('../fonts/AlFatemi14241.ttf');
}

.form-group.required .control-label:after {
    content: " *";
    color: red;
}

.fatemi {
    font-family: lsarabic;
    font-size: 30px;
    text-align: right;
}

.panel-body {
    background: #faffff;
}

.header_wrapper {
    background-color: #78C8E6;
    padding: 7px;
}

.header_block {
    background-color: #6EB7D2;
    height: 40px;
    line-height: 2;
}

.font-white {
    color: white;
}

.m_top_5 {
    margin-top: 5px;
}

.btn_logout {
    margin-top: 5px;
}

.btn_logout a {
    color: white;
    padding: 4px;
}

.btn-custom {
    color: #ffffff;
    background-color: #855C33;
    border-color: #5C2E00;
}

.btn-custom:hover,.btn-custom:focus,.btn-custom:active,.btn-custom.active,.open .dropdown-toggle.btn-custom {
    color: #ffffff;
    background-color: #5C2E00;
    border-color: #5C2E00;
}

.btn-custom:active,.btn-custom.active,.open .dropdown-toggle.btn-custom {
    background-image: none;
}

.btn-custom.disabled,.btn-custom[disabled],fieldset[disabled] .btn-custom,.btn-custom.disabled:hover,.btn-custom[disabled]:hover,fieldset[disabled] .btn-custom:hover,.btn-custom.disabled:focus,.btn-custom[disabled]:focus,fieldset[disabled] .btn-custom:focus,.btn-custom.disabled:active,.btn-custom[disabled]:active,fieldset[disabled] .btn-custom:active,.btn-custom.disabled.active,.btn-custom[disabled].active,fieldset[disabled] .btn-custom.active {
    background-color: #855C33;
    border-color: #5C2E00;
}

.btn-custom .badge {
    color: #855C33;
    background-color: #ffffff;
}

#page-wrapper {
    margin: 0px!important;
    min-height: 600px;
}

.login_main {
    margin-top: -60px;
    padding-bottom: 40px;
}

.login_form {
    margin-top: 10%;
    border: 2px solid #428bca;
    padding: 25px;
    background-color: rgba(230,239,211,.7);
    border-radius: 4px;
}

.img_pen {
    margin: 0 auto;
}

.font_cl {
    color: #248F24;
}

.input_type {
    background-color: #2EBA2E!important;
}

.round_main {
    border: 2px solid #428bca;
    position: absolute;
    height: 124px;
/**/
    border-radius: 100% 100% 0% 0%;
    top: 128px;
    background-color: rgba(230,239,211,.7);
}

.img_center {
    margin: 0 auto;
}

@media only screen and (min-device-width:320px) and (max-device-width:480px) {
    html {
        background: url(../img/login.png);
        background-repeat: no-repeat;
        background-size: 324px 524px;
    }
}

.btn-custom {
    background-color: hsl(110,56%,16%)!important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4fc638",endColorstr="#193f11");
    background-image: -khtml-gradient(linear,left top,left bottom,from(#4fc638),to(#193f11));
    background-image: -moz-linear-gradient(top,#4fc638,#193f11);
    background-image: -ms-linear-gradient(top,#4fc638,#193f11);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#4fc638),color-stop(100%,#193f11));
    background-image: -webkit-linear-gradient(top,#4fc638,#193f11);
    background-image: -o-linear-gradient(top,#4fc638,#193f11);
    background-image: linear-gradient(#4fc638,#193f11);
    border-color: #193f11 #193f11 hsl(110,56%,7.5%);
    color: #fff!important;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.56);
    -webkit-font-smoothing: antialiased;
}

.btn-lg {
    border-radius: 15px;
}

.breadcrumb {
/**/
    display: inline-block;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.35);
    overflow: hidden;
    border-radius: 5px;
/**/
    counter-reset: flag;
    margin: 10px;
    padding: 5px 10px;
}

.breadcrumb a {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 36px;
    color: white;
/**/
    padding: 0 10px 0 60px;
    background: #666;
    background: linear-gradient(#666,#333);
    position: relative;
    text-align: center;
}/**/.breadcrumb a:first-child {
    padding-left: 46px;
    border-radius: 5px 0 0 5px;
/**/;
}

.breadcrumb a:first-child:before {
    left: 14px;
}

.breadcrumb a:last-child {
    border-radius: 0 5px 5px 0;
/**/
    padding-right: 20px;
}/**/.breadcrumb a.active,.breadcrumb a:hover {
    background: #333;
    background: linear-gradient(#333,#000);
}

.breadcrumb a.active:after,.breadcrumb a:hover:after {
    background: #333;
    background: linear-gradient(135deg,#333,#000);
}/**/.breadcrumb a:after {
    content: '';
    position: absolute;
    top: 0;
    right: -18px;
/**//**/
    width: 36px;
    height: 36px;
/**/
    transform: scale(0.707) rotate(45deg);
/**/
    z-index: 1;
/**/
    background: #666;
    background: linear-gradient(135deg,#666,#333);
/**/
    box-shadow: 2px -2px 0 2px rgba(0,0,0,0.4),3px -3px 0 2px rgba(255,255,255,0.1);
/**/
    border-radius: 0 5px 0 50px;
}/**/.breadcrumb a:last-child:after {
    content: none;
}/**/.breadcrumb a:before {
    content: counter(flag);
    counter-increment: flag;
/**/
    border-radius: 100%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 8px 0;
    position: absolute;
    top: 0;
    left: 30px;
    background: #444;
    background: linear-gradient(#444,#222);
    font-weight: bold;
}

.flat a,.flat a:after {
    background: white;
    color: black;
    transition: all 0.5s;
}

.flat a:before {
    background: white;
    box-shadow: 0 0 0 1px #ccc;
}

.flat a:hover,.flat a.active,.flat a:hover:after,.flat a.active:after {
    background: #9EEB62;
}