<div class="container white-bg">
  <div class="col-md-12 col-sm-12">
    <div class="page-title">
      <p style="margin-top:5px;">
        <a href="{$server_path}">Home</a> 
      <h1>Thank You<!--span class="alfatemi-text">معلومات ذاتية</span--></h1>
    </div>
  </div>
  <div class="clearfix"></div> <!-- do not delete -->
  <form class="forms1 white" name="raza_form" method="post">
    <div class="col-md-12 col-sm-12">
      <div class="block top-mgn10"></div>
        <div class="blue-box1">
          <h3 class="bordered">
            <p class="text-center">Thank You for attempting the survey.</p>
          </h3>
          <div class="clearfix"></div>
        </div>
      </div>
    <div class="clearfix"></div>
  </form>
</div>
<style type="text/css">
  .panel-body p{
    color: #000;
  }
  
  .profile-box-static-bottom span {
    color: #444444 !important;
    font-size: 14px;
    text-align: left;
    line-height: 150%;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .profile-box-static-bottom span a {
    color: #FFF !important;
  }
</style>
{include file="include/js_block.tpl"}
{include file="include/footer.tpl"}