@font-face
{
  font-family: lsarabic;
  src: url('../fonts/Kanz-al-Marjaan.ttf'), url('fonts/Kanz-al-Marjaan.eot');
}
.lsd, .lsd p {
  font-family: lsarabic;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 15px;
  font-weight: 500;
}

.pagination{
  margin: 0px;
}
.navbar-default{
  background-color: #09386c;
}
.navbar-default a{
  color: #fff;
}
.logo {
width: 150px;
height: 215px;
background-image: url(../images/logo.png);
background-repeat: no-repeat;
display: block;
margin: 0 auto;
}
.nav>li>a:hover, .nav>li>a:focus {
text-decoration: none;
background-color: #cf4914;
}
.navbar{
  min-height: 80px;
}
.sidebar ul li a.active{
  background-color: #cf4914 !important;
}
.navbar-brand{
  padding-top: 8px !important;
}

.img-thumbnail{
  max-width: 250px;
  width:200px;
  height:70px;
}

input[type=checkbox].css-checkbox1 {
  position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox1 + label.css-label1 {
  padding-left:24px;
  height:19px; 
  display:inline-block;
  line-height:19px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:19px;
  vertical-align:middle;
  cursor:pointer;

}

input[type=checkbox].css-checkbox1:checked + label.css-label1 {
  background-position: 0 -19px;
}
label.css-label1 {
  background-image:url(../images/checkbox-ticks.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.alfatemi-text{
  font-size:24px;
  display:block;
  margin:0 20px 0 0;
  font-family: 'lsarabic';
  font-weight: normal;
  font-style: normal;
  text-transform:lowercase;
  line-height:160%;
}

.border {
  border: 1px solid #000;
}

.font18{
  font-size: 18px !important;
}

.red{
  color: red;
}

.quote{
  border-left:2px solid #000;
  border-right:2px solid #000;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
}

.nav-tabs.nav-justified>a{
  color: #cf4914;
}
.nav-tabs.nav-justified>li>a{
  background-color: #FAEDE8;
}
.nav-tabs.nav-justified>li>a:hover{
  background-color: #09386C;
  color: #fff;
}
.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus{
  background-color: #cf4914;
  color: #fff;
}
.bottom10px{
  padding-bottom: 5px 0;
}